= form_for [:cms, @real_estate] do |f|
  = render 'cms/shared/errors', :model => @real_estate

  %fieldset
    .control-group.mandatory
      = f.label :category_id
      .controls
        = f.grouped_collection_select :category_id, Category.top_level, :categories, :label, :id, :select_label
    .building-type-container.hidden{ 'data-dependent_on' => '#real_estate_category_id', 'data-dependent_on_value' => Category.where(:name => 'row_house').first.try(:id) }
      .control-group
        = f.label :building_type
        .controls
          %label.radio
            = f.radio_button :building_type, RealEstate::BUILDING_CORNER_HOUSE
            %span= t(".#{RealEstate::BUILDING_CORNER_HOUSE}")
          %label.radio
            = f.radio_button :building_type, RealEstate::BUILDING_MIDDLE_HOUSE
            %span= t(".#{RealEstate::BUILDING_MIDDLE_HOUSE}")
    .control-group.mandatory
      = f.label :offer
      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :offer, RealEstate::OFFER_FOR_RENT
          %span= t(".#{RealEstate::OFFER_FOR_RENT}")
      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :offer, RealEstate::OFFER_FOR_SALE
          %span= t(".#{RealEstate::OFFER_FOR_SALE}")
    .control-group.mandatory
      = f.label :utilization
      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :utilization, RealEstate::UTILIZATION_PRIVATE
          %span= t(".#{RealEstate::UTILIZATION_PRIVATE}")
      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :utilization, RealEstate::UTILIZATION_COMMERICAL
          %span= t(".#{RealEstate::UTILIZATION_COMMERICAL}")
    .control-group
      = f.label :channels
      - RealEstate::CHANNELS.each do |channel|
        .controls.push-inline-labels-down
          %label.inline.checkbox
            = check_box_tag "real_estate[channels][]", channel, @real_estate.channels.include?(channel)
            %span= t(".channels.#{channel}")
  .control-group
    = f.label :contact_id
    .controls
      = f.select :contact_id, Employee.all.order([:lastname, :asc]).map { |e| [e.fullname_reversed, e.id]}, :prompt => 'Kontaktperson auswählen', :class => 'span8'
  %fieldset
    %legend Titel und Beschreibungen
    .control-group.mandatory
      = f.label :title
      .controls
        = f.text_field :title, :class => 'span8'
    .control-group.mandatory
      = f.label :description
      .controls
        = f.text_area :description, :class => 'span8'
    .control-group
      = f.label :utilization_description
      .controls
        = f.text_area :utilization_description, :class => 'span8 short'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
