= form_for [:cms, @real_estate] do |f|
  = render 'cms/shared/errors', :model => @real_estate

  %fieldset
    .control-group.mandatory
      = f.label :office_id
      .controls
        = f.collection_select :office_id, Office.all, :id, :label

    .control-group.mandatory
      = f.label :offer
      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :offer, Offer::RENT
          %span= t(".#{Offer::RENT}")

      .controls.push-inline-labels-down
        %label.inline.radio
          = f.radio_button :offer, Offer::SALE
          %span= t(".#{Offer::SALE}")

    .control-group.mandatory
      = f.label :utilization
      .controls
        = f.select :utilization, utilization_select_options, :class => 'span8'

    .control-group.mandatory
      = f.label :category_id
      .controls
        = f.select :category_id, options_for_select(category_options_for_utilization(@real_estate.utilization), selected_key = f.object.category_id), :class => 'span8'
    .building-type-container{ class: @real_estate.category.try(:name) == 'row_house' ? '' : 'hidden'}
      .control-group
        = f.label :building_type
        .controls
          %label.radio
            = f.radio_button :building_type, RealEstate::BUILDING_CORNER_HOUSE
            %span= t(".#{RealEstate::BUILDING_CORNER_HOUSE}")
          %label.radio
            = f.radio_button :building_type, RealEstate::BUILDING_MIDDLE_HOUSE
            %span= t(".#{RealEstate::BUILDING_MIDDLE_HOUSE}")

    .control-group
      = f.label :channels
      - RealEstate::CHANNELS.each do |channel|
        .controls.push-inline-labels-down
          %label.inline.checkbox
            = check_box_tag "real_estate[channels][]", channel, @real_estate.channels.include?(channel), :class => channel
            %span= t(".channels.#{channel}")
        - if RealEstate::MICROSITE_CHANNEL == channel
          .microsite-options-container.hidden{ 'data-dependent_on' => '.microsite', 'data-dependent_on_value' => 'true' }
            .control-group
              .controls
                = f.select :microsite_building_project, microsite_select_options, :prompt => 'Microsite auswählen', :class => 'span8'
        - if RealEstate::PRINT_CHANNEL == channel
          .print-channel-methods-container.hidden{ 'data-dependent_on' => '.print', 'data-dependent_on_value' => 'true' }
            .print-channel-method-container.hidden{ 'data-dependent_on' => '#real_estate_utilization', 'data-dependent_on_value' => [Utilization::LIVING, Utilization::WORKING] }
              .control-group
                .controls.push-inline-labels-down
                  %label.inline.radio
                    = f.radio_button :print_channel_method, RealEstate::PRINT_CHANNEL_METHOD_PDF_DOWNLOAD
                    %span= t(".#{RealEstate::PRINT_CHANNEL_METHOD_PDF_DOWNLOAD}")

                .controls.push-inline-labels-down
                  %label.inline.radio
                    = f.radio_button :print_channel_method, RealEstate::PRINT_CHANNEL_METHOD_ORDER
                    %span= t(".#{RealEstate::PRINT_CHANNEL_METHOD_ORDER}")

    .show-application-form-container.hidden{ 'data-dependent-select_on' => '#real_estate_offer_for_rent', 'data-dependent-select_radio-group' => "[name='real_estate[offer]']" }
      .control-group
        = f.label :show_application_form
        .controls.push-inline-labels-down
          %label.inline.checkbox
            = f.check_box :show_application_form

  .control-group
    = f.label :contact_id
    .controls
      = f.select :contact_id, Employee.all.order([:lastname, :asc]).map { |e| [e.fullname_reversed, e.id]}, :prompt => 'Kontaktperson auswählen', :class => 'span8'

  %fieldset
    - if accessible?(:title)
      %legend Titel und Beschreibungen
    - else
      %legend Beschreibungen

    - if accessible?(:title)
      .control-group{ :class => "#{@real_estate.parking? ? '' : 'mandatory'}" }
        = f.label :title
        .controls
          = f.text_field :title, :class => 'span8'

    - if accessible?(:description)
      .control-group{ :class => "#{@real_estate.parking? ? '' : 'mandatory'}" }
        = f.label :description
        .controls
          .row
            .span8
              = f.text_area :description, :class => 'editor'

    - if accessible?(:utilization_description)
      .control-group
        = f.label :utilization_description
        .controls
          = f.text_area :utilization_description, :class => 'span8 short'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => RealEstate.human_attribute_name(:utilization_description), 'data-content' => t('.help_popover.utilization_description') }

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
