%legend= Reference.model_name.human
.control-group
  .controls
    .help-block.bold-black= t('.help_reference_numbers')
= f.fields_for @real_estate.reference do |rf|
  .control-group
    = rf.label :property_key
    .controls
      = rf.text_field :property_key, :class => 'span8'
      %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Reference.human_attribute_name(:property_key), 'data-content' => t('.help_popover.property_key') }
  .control-group
    = rf.label :building_key
    .controls
      = rf.text_field :building_key, :class => 'span8'
      %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Reference.human_attribute_name(:building_key), 'data-content' => t('.help_popover.building_key') }
  .control-group
    = rf.label :unit_key
    .controls
      = rf.text_field :unit_key, :class => 'span8'
      %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Reference.human_attribute_name(:unit_key), 'data-content' => t('.help_popover.unit_key') }    
