- content_for :title do
  Erfasste Immobilen

.row
  .pull-right.padded
    = link_to(new_cms_real_estate_path, :class => 'btn') do
      %i.icon-plus-sign
      = t('cms.real_estates.index.new')

%table.table.table-bordered.table-striped{ :id=>'real_estate' }
  %tr
    %th= Address.human_attribute_name :city
    %th= RealEstate.human_attribute_name :titel
    %th= RealEstate.human_attribute_name :offer
    %th= RealEstate.human_attribute_name :utilization
    %th Status
    %th

  - @real_estates.each do |real_estate|
    %tr{:id => "real_estate_#{real_estate.id}"}
      %td= real_estate.try(:address).try(:city)
      %td= real_estate.title
      %td= t ".#{real_estate.offer}"
      %td= t ".#{real_estate.utilization}"
      %td= t ".#{real_estate.state}"
      %td
        - if can_be_edited?(real_estate)
          = link_to  t('cms.real_estates.index.edit'), edit_cms_real_estate_path(real_estate)
        - else
          = link_to  t('cms.real_estates.index.show'), cms_real_estate_path(real_estate)
