- content_for :title do
  Erfasste Immobilen

%ul.nav-tabs.nav
  %li{ :class => params[:filter].blank? ? 'active' : nil }
    = link_to t('.tabs.all'), cms_real_estates_path
  %li{ :class => params[:filter] == RealEstate::STATE_PUBLISHED ? 'active' : nil }
    = link_to t('.tabs.published'), cms_real_estates_path(:filter => RealEstate::STATE_PUBLISHED)
  %li{ :class => params[:filter] == RealEstate::STATE_EDITING ? 'active' : nil }
    = link_to t('.tabs.in_progress'), cms_real_estates_path(:filter => RealEstate::STATE_EDITING)

.row
  .pull-right.padded
    = link_to(new_cms_real_estate_path, :class => 'btn') do
      %i.icon-plus-sign
      = t('cms.real_estates.index.new')

%table.table.table-bordered.table-striped.datatable{ :id=>'real_estate' }
  %thead
    %tr
      %th{ width: '10%' }= Address.human_attribute_name :canton
      %th{ width: '10%' }= Address.human_attribute_name :city
      %th{ width: '20%' }= Address.model_name.human
      %th{ width: '10%' }= Figure.human_attribute_name :floor
      %th{ width: '10%' }= t'figures.surface.commercial'
      %th{ width: '15%' }= RealEstate.human_attribute_name :contact
      %th{ width: '15%' } Status
      %th
      %th
  %tbody
    - @real_estates.each do |real_estate|
      %tr{:id => "real_estate_#{real_estate.id}"}
        %td= t "cantons.#{real_estate.address.canton}" if real_estate.address.present?
        %td= real_estate.address.try(:city)
        %td
          = real_estate.address.try(:street)
          = real_estate.address.try(:street_number)
        %td= real_estate.figure.try(:shortened_floor)
        %td= real_estate.figure.try(:surface)
        %td= real_estate.contact.try(:fullname_reversed)
        %td= t ".#{real_estate.state}"
        %td
          - if can?(:edit, real_estate)
            = link_to  t('.edit'), edit_cms_real_estate_path(real_estate)
          - else
            = link_to  t('.show'), cms_real_estate_path(real_estate)
        %td
          = link_to copy_cms_real_estate_path(real_estate), :title => t('.copy') do
            %span.hidden-text= t('.copy')
            %i.icon-share
