%p#notice= notice

%p
  %b Category:
  = @cms_real_estate.category
%p
  %b Reference:
  = @cms_real_estate.reference
%p
  %b Contact:
  = @cms_real_estate.contact
%p
  %b Utilization:
  = @cms_real_estate.utilization
%p
  %b Offer:
  = @cms_real_estate.offer
%p
  %b Channels:
  = @cms_real_estate.channels
%p
  %b Title:
  = @cms_real_estate.title
%p
  %b Property name:
  = @cms_real_estate.property_name
%p
  %b Description:
  = @cms_real_estate.description
%p
  %b Short description:
  = @cms_real_estate.short_description
%p
  %b Keywords:
  = @cms_real_estate.keywords
%p
  %b Is first marketing:
  = @cms_real_estate.is_first_marketing

= link_to 'Edit', edit_cms_real_estate_path(@cms_real_estate)
\|
= link_to 'Back', cms_real_estates_path
