= render 'wizard_header'

= render_navigation :context => :real_estate

%dl.dl-horizontal
  %dt= t "mongoid.attributes.real_estate.category_id"
  %dd= @real_estate.category.label

  - if @real_estate.row_house?
    %dt= t "mongoid.attributes.real_estate.building_type"
    %dd= t ".#{@real_estate.building_type}"

  %dt= t "mongoid.attributes.real_estate.utilization"
  %dd= t "cms.real_estates.form.#{@real_estate.utilization}"

  %dt= t "mongoid.attributes.real_estate.offer"
  %dd= t("cms.real_estates.form.#{@real_estate.offer}")

  %dt= t "mongoid.attributes.real_estate.channels"
  %dd
    = @real_estate.channels.map {|channel| t "cms.real_estates.form.channels.#{channel}"}.join(", ")
    &nbsp;

  %dt= t "mongoid.attributes.real_estate.contact"
  %dd
    = [ [:firstname, :lastname].map {|attr| @real_estate.contact.try(attr)}.compact.join(" "), [:phone, :email].map {|attr| @real_estate.contact.try(attr)}.compact.join(", ")].join(", ")
    &nbsp;

- if accessible?(:title)
  %legend Titel und Beschreibungen
- else
  %legend Beschreibungen

%dl.dl-horizontal
  - if accessible?(:title)
    %dt= t "mongoid.attributes.real_estate.title"
    %dd= @real_estate.title

  %dt= t "mongoid.attributes.real_estate.description"
  %dd= @real_estate.description

  - if accessible?(:utilization_description)
    %dt= t "mongoid.attributes.real_estate.utilization_description"
    %dd
      = @real_estate.utilization_description.presence
      &nbsp;
