.services-slides-container
  .rent-slide.open.active
    .rent-handle.handle
      %h3= t ".rent"
    - unless @projects_for_rent.empty?
      = render 'slider', :projects => @projects_for_rent
    .link-box
      %ul
        %li= link_to t(".living"), real_estates_path(:offer=>'for_rent', :utilization=>'private')
        %li= link_to t(".working"), real_estates_path(:offer=>'for_rent', :utilization=>'commercial')

  .sale-slide
    .sale-handle.handle
      %h3= t ".sale"
    - unless @projects_for_sale.empty?
      = render 'slider', :projects => @projects_for_sale
    .link-box
      %ul
        %li= link_to t(".living"), real_estates_path(:offer=>'for_sale', :utilization=>'private')
        %li= link_to t(".working"), real_estates_path(:offer=>'for_sale', :utilization=>'commercial')

  .build-slide
    .build-handle.handle
      %h3= t ".build"
    .flex-container
      = image_tag "construction.jpg"
      .image-caption
        .image-caption-text
          %h3= t '.build_title'
          %div= link_to t('.build_link'), "#{t('company_url')}#dienstleistungen"
