- content_for :meta do
  %title Home - Alfred Müller Immobiliendienstleistungen
  %meta{ :name => "description", :content => "Die Alfred Müller AG, Baar, zählt zu den führenden Immobiliendienstleistern der Schweiz, mit Filialen in Marin und Camorino. Die Alfred Müller AG akquiriert und entwickelt Grundstücke, sie plant, realisiert, vermarktet, bewirtschaftet und renoviert Liegenschaften." }
  %meta{ :name => "keywords", :content => "Land, Grundstücke, Immobilien, bauen, mieten, kaufen, vermieten, Immobilienverwaltung, umbauen und renovieren" }

.services-slides-container
  .rent-slide.open.active
    .rent-handle.handle
      %h3= t ".rent"
    .link-box
      %ul
        %li= link_to t(".living"), real_estates_path(:offer => 'for_rent', :utilization => 'private')
        %li= link_to t(".working"), real_estates_path(:offer => 'for_rent', :utilization => 'commercial')
        %li= link_to t(".storage"), real_estates_path(:offer => 'for_rent', :utilization => 'storage')
        %li= link_to t(".parking"), real_estates_path(:offer => 'for_rent', :utilization => 'parking')
    - unless @projects_for_rent.empty?
      = render 'slider', :projects => @projects_for_rent

  .sale-slide
    .sale-handle.handle
      %h3= t ".sale"
    .link-box
      %ul
        %li= link_to t(".living"), real_estates_path(:offer => 'for_sale', :utilization => 'private')
        %li= link_to t(".working"), real_estates_path(:offer => 'for_sale', :utilization => 'commercial')
        %li= link_to t(".storage"), real_estates_path(:offer => 'for_sale', :utilization => 'storage')
        %li= link_to t(".parking"), real_estates_path(:offer => 'for_sale', :utilization => 'parking')
    - unless @projects_for_sale.empty?
      = render 'slider', :projects => @projects_for_sale

  .build-slide
    .build-handle.handle
      %h3= t ".build"
    .flex-container
      = image_tag "construction.jpg"
      .image-caption
        .image-caption-text
          %h3= t '.build_title'
          %div= link_to t('.build_link'), "#{t('company_url')}#dienstleistungen"

