- content_for :title do
  = @real_estate.title
  bearbeiten

  .pull-right
    = form_for [:cms, @real_estate],  :html=>{ :class=>nil, :id=>nil } do |f|
      = f.hidden_field :next_state, :value=>next_state(@real_estate)
      = f.submit t("mongoid.attributes.real_estate.states.#{next_state(@real_estate)}"), :disabled => next_state(@real_estate) == @real_estate.state_name, :class=>'btn btn-success'
