- content_for :title do
  = @real_estate.title
  = t "mongoid.attributes.real_estate.states.#{@real_estate.state_name}"

- content_for :real_estate_editor_info do
  .custom-page-header
    %p.muted
      Erstellt von
      %span.italic-darkgrey
        - if @real_estate.creator
          = "#{@real_estate.creator.first_name} #{@real_estate.creator.last_name}"
        - else
          Unbekannt
      = "#{@real_estate.created_at.strftime('am %d.%m.%Y um %H:%M')} Uhr."

      %br/

      Zuletzt editiert von
      %span.italic-darkgrey
        - if @real_estate.editor
          = "#{@real_estate.editor.first_name} #{@real_estate.editor.last_name}"
        - else
          Unbekannt
      = "#{@real_estate.updated_at.strftime('am %d.%m.%Y um %H:%M')} Uhr."

- content_for :real_estate_events do
  .events
    - fireable_events(@real_estate).reverse_each do |event|
      = form_for [:cms, @real_estate],  :html=>{ :class=>'form-inline', :id=>nil } do |f|
        = f.hidden_field :state_event, :value=>event.name
        = f.submit t("mongoid.attributes.real_estate.events.#{event.name}"), :class=>event_button_css(event)
