= form_for @user do |f|
  = render 'cms/shared/errors', :model => @user

  %fieldset.push-checkboxes-down
    .control-group.mandatory
      = f.label :first_name
      .controls
        = f.text_field :first_name, :class => 'span8'
    .control-group.mandatory
      = f.label :last_name
      .controls
        = f.text_field :last_name, :class => 'span8'
    .control-group.mandatory
      = f.label :email
      .controls
        = f.text_field :email, :class => 'span8'
    .control-group.mandatory
      = f.label :role
      .controls
        = f.select :role, Cms::User::ROLES.map { |c| [Cms::User.human_attribute_name("role_#{c}"), c] }, :prompt => 'Rolle auswählen', :class => 'span8'
    .wants-review-emails-container.hidden{ 'data-dependent_on' => '#cms_user_role', 'data-dependent_on_value' => 'admin' }
      .control-group
        = f.label :wants_review_emails
        .controls
          = f.check_box :wants_review_emails
    .control-group
      = f.label :password
      .controls
        = f.password_field :password, :class => 'span8'
    .control-group
      = f.label :password_confirmation
      .controls
        = f.password_field :password_confirmation, :class => 'span8'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
