- if brick.teaser_1.present? && brick.teaser_2.present?
  .teaser-row
    .teaser.teaser-left.teaser-browny.teaser-overlaps-left
      %h2= brick.teaser_1.title
      %p= link_to brick.teaser_1.link, brick.teaser_1.href

    .teaser.teaser-right.teaser-grey.teaser-overlaps-right
      %h2= brick.teaser_2.title
      %p= link_to brick.teaser_2.link, brick.teaser_2.href

    .teaser.teaser-left.teaser-grey
      %h2= brick.teaser_3.title
      %p= link_to brick.teaser_3.link, brick.teaser_3.href

    .teaser.teaser-right.teaser-browny
      %h2= brick.teaser_4.title
      %p= link_to brick.teaser_4.link, brick.teaser_4.href
