= render 'cms/shared/errors', :model => @image

%fieldset.push-checkboxes-down
  .control-group.mandatory
    = f.label :title
    .controls
      = f.text_field :title, :class => 'span8'
  .control-group
    = f.label :is_primary
    .controls
      = f.check_box :is_primary
  .control-group.mandatory
    = f.label :file
    .controls
      = f.file_field :file
      = f.hidden_field :file_cache
      .help-block.bold-black
        Bildformat möglichst 2:1, Auflösung so gross wie möglich, idealerweise 2000 x 1000 Pixel bei 72 dpi.

      - if @image.file.present?
        .well
          = image_tag @image.file.cms_preview.url, id: 'cropbox'
          %h4 Preview
          %div{ style: 'width:100px; height:50px; overflow:hidden' }
            = image_tag @image.file.url(:cms_preview), id: 'preview'
          = form_for @image, :as => :image, :url => cms_real_estate_image_path(@real_estate, @image), :method => :put, :html => { :multipart => true } do |f|
            - %w[x y w h].each do |attribute|
              = f.hidden_field "crop_#{attribute}"
              %br
            .form-actions
              = f.submit "Crop", :class => 'btn btn-primary'

.form-actions
  = f.submit t(".save"), :class => 'btn btn-primary'
  .pull-right
    = render "cms/media_assets/actions"
