= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @pricing, :url => cms_real_estate_pricing_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @pricing

  %fieldset
    - if @real_estate.for_rent?
      .control-group.mandatory
        = f.label :price_unit
        .controls
          = f.select :price_unit, Pricing::PRICE_UNITS.map { |c| [t(".#{c}"), c] }, :prompt => 'Preiseinheit auswählen', :class => 'span8'
    - if @real_estate.for_rent?
      .control-group.mandatory
        = f.label :for_rent_netto
        .controls
          = f.text_field :for_rent_netto, :class => 'span8'
      .control-group.mandatory
        = f.label :for_rent_extra
        .controls
          = f.text_field :for_rent_extra, :class => 'span8'
      .control-group
        = f.label :for_rent_depot
        .controls
          = f.text_field :for_rent_depot, :class => 'span8'
    - if @real_estate.for_sale?
      .control-group.mandatory
        = f.label :for_sale
        .controls
          = f.text_field :for_sale, :class => 'span8'
    .control-group
      = f.label :estimate
      .controls
        = f.text_field :estimate, :class => 'span8'
    .control-group
      = f.label :opted
      .controls
        %label.checkbox
          = f.check_box :opted
    - if @real_estate.commercial_utilization?
      .control-group
        = f.label :storage
        .controls
          = f.text_field :storage, :class => 'span8'
      .control-group
        = f.label :extra_storage
        .controls
          = f.text_field :extra_storage, :class => 'span8'
    %fieldset.inside-parking
      %legend Parkplatzpreise in Auto-Einstellhalle
      .control-group
        = f.label :inside_parking
        .controls
          = f.text_field :inside_parking, :class => 'span8'
      .control-group
        = f.label :inside_parking_temporary
        .controls
          = f.text_field :inside_parking_temporary, :class => 'span8'
    %fieldset.outside-parking
      %legend Parkplatzpreise draussen
      .control-group
        = f.label :outside_parking
        .controls
          = f.text_field :outside_parking, :class => 'span8'
      .control-group
        = f.label :outside_parking_temporary
        .controls
          = f.text_field :outside_parking_temporary, :class => 'span8'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
