= render 'wizard_header'

= render_navigation :context => :real_estate


.row
  .span5
    %dl.dl-horizontal
      - if @real_estate.for_rent?
        %dt= t "mongoid.attributes.pricing.price_unit"
        %dd
          = t("cms.pricings.form.#{@pricing.price_unit}")
          &nbsp;

      - if @real_estate.for_rent?
        %dt= @real_estate.parking? ? t("mongoid.attributes.pricing.for_rent_netto_parking") : t("mongoid.attributes.pricing.for_rent_netto")
        %dd
          = number_to_currency @pricing.for_rent_netto, :locale => 'de-CH'
          &nbsp;

      - if @real_estate.for_sale?
        %dt= t "mongoid.attributes.pricing.for_sale"
        %dd
          = number_to_currency @pricing.for_sale, :locale => 'de-CH'
          &nbsp;

        %dt= t "mongoid.attributes.pricing.opted"
        %dd= t "#{@pricing.opted}"

      %dt= t "mongoid.attributes.pricing.estimate"
      %dd
        = @pricing.estimate
        &nbsp;

      %dt= t "mongoid.attributes.pricing.additional_costs"
      %dd
        = number_to_currency @pricing.additional_costs, :locale => 'de-CH'
        &nbsp;

      - if accessible?(:extra_storage)
        %dt= t "mongoid.attributes.pricing.storage"
        %dd
          = number_to_currency @pricing.storage, :locale => 'de-CH'
          &nbsp;

      - if accessible?(:extra_storage)
        %dt= t "mongoid.attributes.pricing.extra_storage"
        %dd
          = number_to_currency @pricing.extra_storage, :locale => 'de-CH'
          &nbsp;
  .span5
    %dl.dl-horizontal.dl-shrinked
      &nbsp;

      %dt= t("mongoid.attributes.pricing.monthly")
      %dd
        = number_to_currency @pricing.for_rent_netto_monthly, :locale => 'de-CH'
        &nbsp;

      %dt= t "mongoid.attributes.pricing.monthly"
      %dd
        = @pricing.estimate_monthly
        &nbsp;

      %dt= t "mongoid.attributes.pricing.monthly"
      %dd
        = number_to_currency @pricing.additional_costs_monthly, :locale => 'de-CH'
        &nbsp;

      - if accessible?(:extra_storage)
        %dt= t "mongoid.attributes.pricing.monthly"
        %dd
          = number_to_currency @pricing.storage_monthly, :locale => 'de-CH'
          &nbsp;

      - if accessible?(:extra_storage)
        %dt= t "mongoid.attributes.pricing.monthly"
        %dd
          = number_to_currency @pricing.extra_storage_monthly, :locale => 'de-CH'
          &nbsp;

- if accessible?(:parking_spots_prices_group)
  %fieldset.parking-spots-prices-group
    - if @real_estate.for_sale?
      %legend Kaufpreis f체r Parkpl채tze
    - else
      %legend Mietzins f체r Parkpl채tze

    %dl.dl-horizontal
      %dt= t "mongoid.attributes.pricing.inside_parking"
      %dd
        = number_to_currency @pricing.inside_parking, :locale => 'de-CH'
        &nbsp;

      %dt= t "mongoid.attributes.pricing.outside_parking"
      %dd
        = number_to_currency @pricing.outside_parking, :locale => 'de-CH'
        &nbsp;

      %dt= t "mongoid.attributes.pricing.covered_slot"
      %dd
        = @pricing.covered_slot
        &nbsp;

      %dt= t "mongoid.attributes.pricing.covered_bike"
      %dd
        = @pricing.covered_bike
        &nbsp;

      %dt= t "mongoid.attributes.pricing.outdoor_bike"
      %dd
        = @pricing.outdoor_bike
        &nbsp;

      %dt= t "mongoid.attributes.pricing.single_garage"
      %dd
        = @pricing.single_garage
        &nbsp;

      %dt= t "mongoid.attributes.pricing.double_garage"
      %dd
        = @pricing.double_garage
        &nbsp;
