= render_navigation :context => :real_estate

= form_for @infrastructure, :url => cms_real_estate_infrastructure_path(@real_estate) do |f|
  = render 'cms/real_estates/errors', :model => @infrastructure

  %fieldset
    %legend= t('.parking')
    .control-group
      = f.label :has_parking_spot
      .controls
        %label.checkbox
          = f.check_box :has_parking_spot
    .control-group
      = f.label :has_roofed_parking_spot
      .controls
        %label.checkbox
          = f.check_box :has_roofed_parking_spot
    .control-group
      = f.label :has_garage
      .controls
        %label.checkbox
          = f.check_box :has_garage
    .control-group
      = f.label :inside_parking_spots
      .controls
        = f.text_field :inside_parking_spots, :class => 'span8'
    .control-group
      = f.label :outside_parking_spots
      .controls
        = f.text_field :outside_parking_spots, :class => 'span8'
    .control-group
      = f.label :inside_parking_spots_temporary
      .controls
        = f.text_field :inside_parking_spots_temporary, :class => 'span8'
    .control-group
      = f.label :outside_parking_spots_temporary
      .controls
        = f.text_field :outside_parking_spots_temporary, :class => 'span8'

  %fieldset
    %legend Distanzen
    - @infrastructure.points_of_interest.each do |poi|
      .control-group
        = f.fields_for :points_of_interest, poi do |poi_f|
          = poi_f.label :distance, t(".points_of_interest.types.#{poi.name}")
          .controls
            = poi_f.text_field :distance
            = poi_f.hidden_field :name
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
