= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @infrastructure, :url => cms_real_estate_infrastructure_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @infrastructure

  %fieldset.push-checkboxes-down
    %legend= t('.parking')
    .control-group
      = f.label :inside_parking_spots
      .controls
        = f.text_field :inside_parking_spots, :class => 'span8'

    .control-group
      = f.label :outside_parking_spots
      .controls
        = f.text_field :outside_parking_spots, :class => 'span8'

    .control-group
      = f.label :covered_slot
      .controls
        = f.text_field :covered_slot, :class => 'span8'

    .control-group
      = f.label :covered_bike
      .controls
        = f.text_field :covered_bike, :class => 'span8'

    .control-group
      = f.label :outdoor_bike
      .controls
        = f.text_field :outdoor_bike, :class => 'span8'

    .control-group
      = f.label :single_garage
      .controls
        = f.text_field :single_garage, :class => 'span8'

    .control-group
      = f.label :double_garage
      .controls
        = f.text_field :double_garage, :class => 'span8'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
