= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @infrastructure, :url => cms_real_estate_infrastructure_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @infrastructure

  %fieldset.push-checkboxes-down
    %legend= t('.parking')
    .control-group
      = f.label :has_roofed_parking_spot
      .controls
        = f.check_box :has_roofed_parking_spot

    .control-group
      = f.label :inside_parking_spots
      .controls
        = f.text_field :inside_parking_spots, :class => 'span8'

    .control-group
      = f.label :outside_parking_spots
      .controls
        = f.text_field :outside_parking_spots, :class => 'span8'

    .control-group
      = f.label :covered_slot
      .controls
        = f.text_field :covered_slot, :class => 'span8'

    .control-group
      = f.label :covered_bike
      .controls
        = f.text_field :covered_bike, :class => 'span8'

    .control-group
      = f.label :outdoor_bike
      .controls
        = f.text_field :outdoor_bike, :class => 'span8'

    .control-group
      = f.label :single_garage
      .controls
        = f.text_field :single_garage, :class => 'span8'

    .control-group
      = f.label :double_garage
      .controls
        = f.text_field :double_garage, :class => 'span8'

  %fieldset
    %legend Distanzen in Meter
    = f.fields_for :points_of_interest do |poi_f|
      .control-group
        = poi_f.label :distance, t(".points_of_interest.types.#{poi_f.object.name}")

        .controls
          = poi_f.text_field :distance
          = poi_f.hidden_field :name

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
