= render 'wizard_header'

= render_navigation :context => :real_estate

- if @infrastructure.nil?
  Für diese Immobilie wurde keine #{t "navigation.cms.real_estates_navigation.infrastructure"} hinterlegt.
- else
  %legend= t('.parking')

  %dl.dl-horizontal.extra-wide
    %dt= t "mongoid.attributes.infrastructure.has_parking_spot"
    %dd= @infrastructure.has_parking_spot?

    %dt= t "mongoid.attributes.infrastructure.has_roofed_parking_spot"
    %dd= @infrastructure.has_roofed_parking_spot?

    %dt= t "mongoid.attributes.infrastructure.has_garage"
    %dd= @infrastructure.has_garage?

    %dt= t "mongoid.attributes.infrastructure.inside_parking_spots"
    %dd
      = @infrastructure.inside_parking_spots
      &nbsp;

    %dt= t "mongoid.attributes.infrastructure.outside_parking_spots"
    %dd
      = @infrastructure.outside_parking_spots
      &nbsp;

    %dt= t "mongoid.attributes.infrastructure.inside_parking_spots_temporary"
    %dd
      = @infrastructure.inside_parking_spots_temporary
      &nbsp;

    %dt= t "mongoid.attributes.infrastructure.outside_parking_spots_temporary"
    %dd
      = @infrastructure.outside_parking_spots_temporary
      &nbsp;

  %br
  %legend Distanzen

  %dl.dl-horizontal.extra-wide
    - @infrastructure.points_of_interest.each do |poi|
      %dt= t ".points_of_interest.types.#{poi.name}"
      %dd
        = @infrastructure.distance
        &nbsp;
