= render 'wizard_header'

= render_navigation :context => :real_estate


%legend= t('.parking')
%dl
  %dt.span3= t "mongoid.attributes.infrastructure.has_parking_spot"
  %dd= @infrastructure.has_parking_spot?

  %dt.span3= t "mongoid.attributes.infrastructure.has_roofed_parking_spot"
  %dd= @infrastructure.has_roofed_parking_spot?

  %dt.span3= t "mongoid.attributes.infrastructure.has_garage"
  %dd= @infrastructure.has_garage?

  %dt.span3= t "mongoid.attributes.infrastructure.inside_parking_spots"
  %dd
    = @infrastructure.inside_parking_spots
    &nbsp;

  %dt.span3= t "mongoid.attributes.infrastructure.outside_parking_spots"
  %dd
    = @infrastructure.outside_parking_spots
    &nbsp;

  %dt.span3= t "mongoid.attributes.infrastructure.inside_parking_spots_temporary"
  %dd
    = @infrastructure.inside_parking_spots_temporary
    &nbsp;

  %dt.span3= t "mongoid.attributes.infrastructure.outside_parking_spots_temporary"
  %dd
    = @infrastructure.outside_parking_spots_temporary
    &nbsp;


%legend Distanzen
%dl
  - @infrastructure.points_of_interest.each do |poi|
    %dt.span3= t ".points_of_interest.types.#{poi.name}"
    %dd
      = @infrastructure.distance
      &nbsp;
