= form_for [:cms, @news_item], html: { multipart: true } do |f|
  = render 'cms/shared/errors', model: @news_item

  %fieldset
    = hidden_field_tag(:content_locale, content_locale)
    = f.hidden_field(:locale, value: content_locale)
    .control-group.mandatory
      = f.label :title
      .controls
        = f.text_field :title, class: 'span8'
    .control-group.mandatory
      = f.label :content
      .controls
        = f.text_area :content, class: 'editor'
    .control-group.mandatory
      = f.label :date
      .controls
        = f.date_select :date, { start_year: -1.year.from_now.year, end_year: 2.year.from_now.year}, class: 'span1'

    - if @news_item.persisted?
      = render "edit_images", f: f
      = render "edit_documents", f: f

    - else
      %fieldset
        %legend Bilder
        = f.fields_for :images do |image_form|
          .control-group
            = image_form.label :file
            .controls
              = image_form.file_field :file
      %fieldset
        %legend Dokumente
        = f.fields_for localized_documents do |documents_form|
          .control-group
            = documents_form.label :file
            .controls
              = documents_form.file_field :file

    %fieldset
      %legend Veröffentlichen
      .control-group
        = f.label :published
        .controls
          - I18n.with_locale(content_locale) do
            = f.check_box :published

    .form-actions
      = f.submit nil, class: 'btn btn-primary'
      .pull-right
        = link_to(cms_news_items_path, class: 'btn small') do
          %i.icon-list
          = t('.overview')
