= form_for [:cms, @news_item] do |f|
  = render 'cms/shared/errors', :model => @news_item

  %fieldset
    = f.hidden_field :locale
    .control-group.mandatory
      = f.label :title
      .controls
        = f.text_field :title, :class => 'span8'
    .control-group.mandatory
      = f.label :teaser
      .controls
        = f.text_field :teaser, :class => 'span8'
    .control-group.mandatory
      = f.label :content
      .controls
        = f.text_area :content, :class => 'span8'
    .control-group.mandatory
      = f.label :date
      .controls
        = f.date_select :date, {:start_year => -1.year.from_now.year, :end_year => 2.year.from_now.year},:class => 'span1'

    - if @news_item.persisted?
      .row
        .span2
          %br
        .span8
          %table.table.table-bordered.images-table.sortable
            %thead
              %tr
                %th{ :width => '5%' }
                %th{ :width => '85%' } Bilder
                %th{ :width => '10%' } Löschen
            %tbody
              = f.fields_for :images do |image_form|
                %tr.draggable-row{:id=>"image-#{image_form.object.id}"}
                  %td.drag-handle
                    %i.icon-align-justify
                    = image_form.hidden_field :position
                  %td
                    = image_tag image_form.object.file.thumb.url
                  %td
                    = image_form.check_box :_destroy
              = f.fields_for :images, NewsItemImage.new do |image_form|
                %tr
                  %td
                  %td{:colspan=>2}
                    = image_form.file_field :file

      .row
        .span2
          %br
        .span8
          %table.table.table-bordered.documents-table.sortable
            %thead
              %tr
                %th{ :width => '5%' }
                %th{ :width => '85%' } Dokumente
                %th{ :width => '10%' } Löschen
            %tbody
              = f.fields_for :documents do |doc_form|
                %tr.draggable-row{:id=>"document-#{doc_form.object.id}"}
                  %td.drag-handle
                    %i.icon-align-justify
                    = doc_form.hidden_field :position
                  %td
                    = link_to File.basename(doc_form.object.file.path), doc_form.object.file.url, :target=>:blank
                  %td
                    = doc_form.check_box :_destroy
              = f.fields_for :documents, NewsItemDocument.new do |doc_form|
                %tr
                  %td
                  %td{:colspan=>2}
                    = doc_form.file_field :file

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      .pull-right
        = link_to(cms_news_items_path, :class => 'btn small') do
          %i.icon-list
          = t('.overview')
