- content_for :title do
  Erfasste Referenzprojekte

%ul.nav-tabs.nav.language-tabs
  - I18n.available_locales.each do |locale|
    %li{ :class => (content_locale.to_s == locale.to_s ? 'active' : nil) }
      = link_to t("languages.#{locale}"), cms_reference_projects_path(:content_locale => locale)

.row
  .pull-right.padded
    = link_to(new_cms_reference_project_path(:content_locale => content_locale), :class => 'btn') do
      %i.icon-plus-sign
      = t('.new')

- if @reference_projects.empty?
  .span4.offset4
    %h3.small
      Keine Einträge vorhanden
- else
  = form_for :reference_projects, :model => reference_projects, :url => sort_cms_reference_projects_path, :remote => true, :html => { :class => :autosubmit } do |form|
    %table.table.table-bordered.table-striped.reference-projects.reference-projects-sortable
      %thead
        %tr
          %th
          %th= ReferenceProject.human_attribute_name :title
          %th= ReferenceProject.human_attribute_name :offer
          %th= ReferenceProject.human_attribute_name :utilization
          %th= ReferenceProject.human_attribute_name :displayed_on
          %th
          %th

      %tbody
        - @reference_projects.each do |reference_project|
          %tr.reference-project.draggable-row{ :id => "reference_project_#{reference_project.id}"}
            %td.drag-handle{ :width => '5%' }
              %i.icon-align-justify
              = form.fields_for :[], reference_project do |reference_project_fields|
                = reference_project_fields.hidden_field :position, :class => 'position'
            %td.title= reference_project.title
            %td= t("real_estates.search_filter.#{reference_project.offer}")
            %td= t("real_estates.search_filter.#{reference_project.utilization}")
            %td
              - reference_project.displayed_on.each do |page|
                %span= t("cms.reference_projects.index.displayed_on.#{page}_html")
            %td= link_to  t('.destroy'), cms_reference_project_path(reference_project), :method => :delete, :confirm => t('.confirm_delete', :title => reference_project.title)
            %td= link_to t('.edit'), edit_cms_reference_project_path(reference_project)

  - content_for :javascripts do
    :coffeescript
      $ ->
        $("table.reference-projects-sortable tbody").sortable
          handle: ".drag-handle"
          update: (event, ui) ->
            tr = $(event.target).closest('tr.reference-project')
            tr.closest('table').find(".draggable-row").each (idx, elem) ->
              $(@).find(".position").val(idx+1)
            tr.closest('form.autosubmit').submit()

