.confirmation
  %h3= t('.your_application')
  %p.message
    = t('.confirmation', :firstname => @job_application.firstname, :lastname => @job_application.lastname)

  .row
    .label= JobApplication.human_attribute_name :job
    .field= @job_application.job.present? ? @job_application.job.title : t('job_applications.form.speculative_application')
  .row
    .label= JobApplication.human_attribute_name :firstname
    .field= @job_application.firstname

  .row
    .label= JobApplication.human_attribute_name :lastname
    .field= @job_application.lastname

  .row
    .label= JobApplication.human_attribute_name :birthdate
    .field= @job_application.birthdate

  .row
    .label= JobApplication.human_attribute_name :firstname
    .field= @job_application.firstname

  .row
    .label= JobApplication.human_attribute_name :address
    .field
      = @job_application.street
      %br
      = @job_application.zipcode
      = @job_application.city

  .row
    .label= JobApplication.human_attribute_name :phone
    .field= @job_application.phone

  .row
    .label= JobApplication.human_attribute_name :mobile
    .field= @job_application.mobile

  .row
    .label= JobApplication.human_attribute_name :email
    .field= @job_application.email
