-if @job_application.errors.any?
  .alert
    %h3= t('.errors')
    %p
      %ul
        - @job_application.errors.full_messages.each do |msg|
          %li= msg


= form_for @job_application, url: job_application_path, remote: true do |f|
  = f.hidden_field :unnecessary_field
  .control-group
    = f.label :job
    .controls
      = f.select :job, Job.published.where(locale: I18n.locale).map { |job| [job.title, job.id] }, prompt: t('.speculative_application')
  .control-group.mandatory
    = f.label :firstname
    .controls
      = f.text_field :firstname
  .control-group.mandatory
    = f.label :lastname
    .controls
      = f.text_field :lastname
  .control-group.mandatory
    = f.label :birthdate
    .controls
      = f.text_field :birthdate
  .control-group.mandatory
    = f.label :street
    .controls
      = f.text_field :street
  .control-group.mandatory
    = f.label :zipcode, class: 'zip-label'
    = f.label :city, class: 'comma-before'
    .controls
      = f.text_field :zipcode, class: :short
      = f.text_field :city, class: 'medium-short'
  .control-group.mandatory
    = f.label :phone
    .controls
      = f.text_field :phone
  .control-group
    = f.label :mobile
    .controls
      = f.text_field :mobile
  .control-group.mandatory
    = f.label :email
    .controls
      = f.text_field :email
  .control-group.mandatory
    = f.label :comment
    .controls
      = f.text_area :comment
  .control-group
    = f.label :attachment
    .controls
      = f.file_field :attachment
  .form-actions
    .controls
      = f.submit t('.send')

%p
  = t('.mandatory_fields')
