!!! 5
%html
  %head
    = stylesheet_link_tag 'cms/application'
    = yield :stylesheets
    = csrf_meta_tag

    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }

    %title
      = "#{ controller.controller_name.titleize } - #{ controller.action_name.titleize }"

  .body{ :class => "#{controller.controller_name}" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand= link_to 'Alfred Müller', '/'
          = render_navigation :context => :cms
          %ul.nav.pull-right.cms-user-info
            %li.dropdown
              %i.icon-user.icon-white.dropdown-toggle{ 'data-toggle' => 'dropdown' }
              %ul.dropdown-menu
                %li
                  %a.no-link{ :href => '#' }= "#{t('cms.dashboards.cms_user_info.signed_in_as')} #{current_user.email}"
                %li
                  %a.no-link{ :href => '#' }= "#{t('cms.dashboards.cms_user_info.role')} #{Cms::User.human_attribute_name("role_#{current_user.role}")}"
                %li.divider
                %li= link_to t('cms.dashboards.cms_user_info.logout'), destroy_user_session_path, :method => :delete
            %li
              = link_to '', root_path, :class => 'icon-eye-open icon-white', :target => '_blank'

    .container
      .content
        .row
          .span10
            .custom-page-header
              %h1= yield :title
          .span2
            .custom-page-header
              = yield :real_estate_events
        .row
          .span12
            = yield :real_estate_editor_info
            = render "layouts/flashes"
            .form-horizontal
              = yield

    = javascript_include_tag 'cms/application'
    = yield :javascripts
