Eine Terminanfrage ist am #{l(@appointment.created_at)} für das Objekt "#{@appointment.real_estate.title}" über die Website eingegangen.

Link zum Objekt:
#{real_estate_url(@appointment.real_estate)}

Kontaktdaten:

Vorname: #{@appointment.firstname}
Nachname: #{@appointment.lastname}
E-Mail: #{@appointment.email}
Telefon: #{number_to_phone @appointment.phone}

