.chapter.additional-description.pbi-avoid
  %h2= t('.title')

  - if offer = additional_description.offer.presence
    %dl
      %dt= t('additional_descriptions.offer')
      %dd= offer.html_safe

  - if utilization_description = real_estate.utilization_description.presence
    %dl
      %dt= t('additional_descriptions.utilization_description')
      %dd= utilization_description.html_safe
