.chapter.additional-description
  %h2= t('.title')

  - if generic = additional_description.generic.presence
    %dl
      %dt= t('.generic')
      %dd= markdown generic

  - if location = additional_description.location.presence
    %dl
      %dt= t('.location')
      %dd= markdown location

  - if interior = additional_description.interior.presence
    %dl
      %dt= t('.interior')
      %dd= markdown interior

  - if offer = additional_description.offer.presence
    %dl
      %dt= t('.offer')
      %dd= markdown offer

  - if infrastructure = additional_description.infrastructure.presence
    %dl
      %dt= t('.infrastructure')
      %dd= markdown infrastructure

  - if usage = additional_description.usage.presence
    %dl
      %dt= t('.usage')
      %dd= markdown usage
