.chapter.additional-description.pbi-avoid
  %h2= t('.title')
  - if location = additional_description.location.presence
    %dl
      %dt= t('additional_descriptions.location')
      %dd= markdown location

  - if interior = additional_description.interior.presence
    %dl
      %dt= t('additional_descriptions.interior')
      %dd= markdown interior

  - if offer = additional_description.offer.presence
    %dl
      %dt= t('additional_descriptions.offer')
      %dd= markdown offer

  - if infrastructure = additional_description.infrastructure.presence
    %dl
      %dt= t('additional_descriptions.infrastructure')
      %dd= markdown infrastructure

  - if utilization_description = real_estate.utilization_description.presence
    %dl
      %dt= t('additional_descriptions.utilization_description')
      %dd= markdown utilization_description
