.chapter
  %h2= t('information.title')

  - if information.available_from.present?
    %dl
      %dt= t('information.available_from')
      %dd= information.available_from

  - if information.characteristics.any?
    %dl
      %dt= t('information.characteristics')
      %dd= information.characteristics.join(', ')

  - if real_estate.commercial_utilization?
    - if information.maximal_floor_loading.present?
      %dl
        %dt= t('information.maximal_floor_loading')
        %dd= information.maximal_floor_loading

    - if information.freight_elevator_carrying_capacity.present?
      %dl
        %dt= t('information.freight_elevator_carrying_capacity')
        %dd= information.freight_elevator_carrying_capacity

  - if minimum_rental_period = information.minimum_rental_period.presence
    %dl
      %dt= t('information.minimum_rental_period')
      %dd= minimum_rental_period

  - if notice_dates = information.notice_dates.presence
    %dl
      %dt= t('information.notice_dates')
      %dd= notice_dates

  - if notice_period = information.notice_period.presence
    %dl
      %dt= t('information.notice_period')
      %dd= notice_period
