- if @real_estate.information.present?
  .chapter
    %h2= t('.title')

    %dl
      - if display_estimated_available_from = @real_estate.information.display_estimated_available_from.presence
        %dt= t('.display_estimated_available_from')
        %dd= display_estimated_available_from

      - if characteristics.any?
        %dt= t('.characteristics')
        %dd= characteristics.join(', ')

      - if @real_estate.commercial_utilization?

        %dt= t('.maximal_floor_loading')
        %dd= "#{@real_estate.information.maximal_floor_loading} kg"

        %dt= t('.freight_elevator_carrying_capacity')
        %dd= "#{@real_estate.information.freight_elevator_carrying_capacity} kg"
