.chapter.pb-after
  %h2= t('.title')

  %dl
    - if real_estate.address.present?
      %dt= t('.address')
      %dd= real_estate.address.simple

    - if real_estate.figure.present?

      - if real_estate.figure.floor.present?
        %dt= t('figures.floor')
        %dd= real_estate.figure.floor

      - if real_estate.figure.rooms.present?
        %dt= t('figures.rooms')
        %dd= real_estate.figure.rooms

      - if real_estate.figure.surface.present?
        %dt= real_estate.figure.surface_label
        %dd
          = real_estate.figure.surface
          %span.helptext
            - if real_estate.figure.specification_surface.present?
              = "(#{real_estate.figure.specification_surface})"

    - if real_estate.description.present?
      %dt= t('.description')
      %dd= real_estate.description.html_safe
