.chapter.pricing.pbi-avoid
  %h2= t('pricings.title')

  - if pricing.for_rent_netto.present?
    %dl
      %dt= t('pricings.for_rent_netto')
      %dd
        = pricing.for_rent_netto

  - if pricing.for_rent_extra.present?
    %dl
      %dt= t('pricings.for_rent_extra')
      %dd
        = pricing.for_rent_extra

  - if pricing.for_rent_depot.present?
    %dl
      %dt= t('pricings.for_rent_depot')
      %dd= pricing.for_rent_depot

  - if pricing.inside_parking.present?
    %dl
      %dt= t('pricings.inside_parking')
      %dd
        = pricing.inside_parking

  - if pricing.outside_parking.present?
    %dl
      %dt= t('pricings.outside_parking')
      %dd
        = pricing.outside_parking

  - if pricing.opted?
    .disclaimer= t('pricings.without_vat')
