.chapter.pricing.pbi-avoid
  %h2= t('pricings.title')

  - Pricing::PRICING_FIELDS.each do |pricing_field|
    = pricing.render_pricing_field(pricing_field)

  - if pricing.opted?
    .disclaimer= t('pricings.without_vat')

  - if information && information.available_from.present?
    %dl
      %dt= t('information.available_from')
      %dd= information.available_from_compact
