.chapter.pricing.pb-before
  %h2= t('.title')

  %dl
    %dt= t '.for_rent_netto'
    %dd
      = pricing.for_rent_netto

    %dt= t '.for_rent_extra'
    %dd
      = pricing.for_rent_extra

  - if pricing.for_rent_depot.present?
    %dt= t '.for_rent_depot'
    %dd= pricing.for_rent_depot

  - if pricing.inside_parking.present?
    %dl
      %dt= t '.inside_parking'
      %dd
        = pricing.inside_parking

  - if pricing.inside_parking_temporary.present?
    %dl
      %dt= t '.inside_parking_temporary'
      %dd
        = pricing.inside_parking_temporary

  - if pricing.outside_parking.present?
    %dl
      %dt= t '.outside_parking'
      %dd
        = pricing.outside_parking

  - if pricing.outside_parking_temporary.present?
    %dl
      %dt= t '.outside_parking_temporary'
      %dd
        = pricing.outside_parking_temporary

  - if pricing.opted?
    .disclaimer= t ".without_vat"
