.chapter.pricing.pbi-avoid
  %h2= t('pricings.title')

  - PricingDecorator::INVARIANT_PRICING_FIELDS.each do |pricing_field|
    = pricing.render_pricing_field(pricing_field)

  - if pricing.opted?
    .disclaimer= t('pricings.without_vat')

  - if pricing && pricing.available_from.present?
    %dl
      %dt= t('pricing.available_from')
      %dd
        %span.col.col1= pricing.available_from_compact
