#title-page-header
  .primary-image
    = image_tag @real_estate.media_assets.primary_image.file.minidoku.url
  .frame-overlay
    = image_tag('vision/frame.png')
  .primary-title
    = @real_estate.title
    %span
      = t(".#{RealEstate::OFFER_FOR_RENT}_#{@real_estate.utilization}")

= render 'overview'

- if @real_estate.media_assets.floorplans.any?
  = render 'floorplan'

- if @real_estate.information.present?
  = render 'information', :real_estate => @real_estate, :information => @real_estate.information

= render 'pricing', :real_estate => @real_estate, :pricing => @real_estate.pricing

- if (handout_images = @real_estate.media_assets.for_print).any?
  = render 'images', :images => handout_images

- if @real_estate.contact.present?
  = render 'contact', :contact => @real_estate.contact
