#title-page-header
  .primary-image
    = image_tag @real_estate.media_assets.primary_image.file.minidoku.url
  .frame-overlay
    = image_tag('vision/frame.png')
  .primary-title
    = @real_estate.title
    %span
      = t(".#{RealEstate::OFFER_FOR_RENT}_#{@real_estate.utilization}")

= render 'overview'

= render 'pricing', :real_estate => @real_estate, :pricing => @real_estate.pricing

= render 'floorplan'

- if @real_estate.contact.present?
  = render 'contact', :contact => @real_estate.contact
