- @page.bricks.each do |brick|
  - if brick.type == 'accordion'
    - content_for brick.group_id do
      = render "bricks/#{brick.type}", :brick => brick
    - if brick.next.blank? || brick.next.type != 'accordion'
      .brick
        .accordion.accordion-classical
          = yield brick.group_id
  - elsif brick.type == 'placeholder'
    .brick
      = render "bricks/placeholder/#{brick.placeholder}", :brick => brick
  - else
    .brick
      = render "bricks/#{brick.type}", :brick => brick
