.confirmation
  %h3= t('.your_contact')
  %p.message
    = t('.confirmation', :firstname => @contact.firstname, :lastname => @contact.lastname)

  .row
    .label= Contact.human_attribute_name :firstname
    .field= @contact.firstname

  .row
    .label= Contact.human_attribute_name :lastname
    .field= @contact.lastname

  .row
    .label= Contact.human_attribute_name :address
    .field
      = @contact.street
      %br
      = @contact.zip
      = @contact.city

  .row
    .label= Contact.human_attribute_name :email
    .field= @contact.email

  .row
    .label= Contact.human_attribute_name :message
    .field= @contact.message
