-if @contact.errors.any?
  .alert
    %h3= t('.errors')
    %p
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

= form_for @contact, :url => contact_path, :remote => true do |f|
  .control-group.mandatory
    = f.label :firstname
    .controls
      = f.text_field :firstname
  .control-group.mandatory
    = f.label :lastname
    .controls
      = f.text_field :lastname
  .control-group.mandatory
    = f.label :street
    .controls
      = f.text_field :street
  .control-group.mandatory
    = f.label :zip, :class => 'zip-label'
    = f.label :city, :class => 'comma-before'
    .controls
      = f.text_field :zip, :class => :short
      = f.text_field :city, :class => 'medium-short'
  .control-group.mandatory
    = f.label :email
    .controls
      = f.text_field :email
  .control-group.mandatory
    = f.label :message
    .controls
      = f.text_area :message
  .form-actions
    .controls
      = f.submit t('.send')

%p
  = t('.mandatory_fields')
