.accordion-item{ id: "news_item_#{news_item.id}" }
  .title
    %span.date= l(news_item.date)
    = news_item.title
  .content
    - if news_item.images.any?
      .flex-container
        .flexslider
          %ul.slides
            - news_item.images.each do |image|
              %li= image_tag(image.file.gallery.url)
    = news_item.content.html_safe

    - if news_item.documents.any?
      %ul.icon-list
        - news_item.documents.each do |document|
          %li= link_to File.basename(document.file.path), document.file.url, class: 'icon-document ga-tracking-link', data: { 'ga-category' => "Download Baustein", 'ga-action' => "Download", 'ga-label' => File.basename(document.file.path) }
