#head-of-alfred-mueller-gallery.tab-slider
  %ul.first-level-navigation
    %li
      %a.active{ :href => '#vision' }=t('.vision')
    %li
      %a{ :href => '#board-of-directors' }=t('.board_of_directors')
    %li
      %a{ :href => '#managing-board' }=t('.managing_board')
    %li
      %a{ :href => '#subsidiaries' }=t('.subsidiaries')

  .flex-container.hidden#vision.tab-content
    .flexslider
      %ul.slides
        %li
          %video.sublime{ :poster => "/movies/alfred_mueller_#{I18n.locale}.jpg", :width => '100%', :height => '100%', :preload => 'preload' }
            %source{ :src => "/movies/alfred_mueller_#{I18n.locale}.mp4" }

  .flex-container.hidden#board-of-directors.tab-content
    .flexslider
      %ul.second-level-navigation
        %li
          %a{ :href => '#' } Christoph Müller
        %li
          %a{ :href => '#' } Viktor Naumann
        %li
          %a{ :href => '#' } Adrian R. Bult
        %li
          %a{ :href => '#' } Dr. Ida M. Hardegger
        %li
          %a{ :href => '#' } Ulrich H. Moser
        %li
          %a{ :href => '#' } Dr. Erich Rüegg
        %li
          %a{ :href => '#' } Thomas Rüppel
        %li
          %a{ :href => '#' } Alfred Müller

      %ul.slides
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/Christoph_Mueller.jpg'
          .tab-slider-description
            %h1
              Christoph Müller
            %p
              = t('.president_of_board_of_directors')
            %p
              %a{ :href => 'mailto:christoph.mueller@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/Viktor_Naumann.jpg'
          .tab-slider-description
            %h1
              Viktor Naumann
            %p
              = t('.vice_president_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/adrian_bult.jpg'
          .tab-slider-description
            %h1
              Adrian R. Bult
            %p
              = t('.member_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/ida_hardegger.jpg'
          .tab-slider-description
            %h1
              Dr. Ida M. Hardegger
            %p
              = t('.member_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/ulrich_moser.jpg'
          .tab-slider-description
            %h1
              Ulrich H. Moser
            %p
              = t('.member_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/Dr_Erich_Rueegg.jpg'
          .tab-slider-description
            %h1
              Dr. Erich Rüegg
            %p
              = t('.member_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/thomas_rueppel.jpg'
          .tab-slider-description
            %h1
              Thomas Rüppel
            %p
              = t('.member_of_board_of_directors')
        %li
          = image_tag 'head_of_alfred_mueller/board_of_directors/Alfred_Mueller.jpg'
          .tab-slider-description
            %h1
              Alfred Müller
            %p
              = t('.honorary_president')

  .flex-container.hidden#managing-board.tab-content
    .flexslider
      %ul.second-level-navigation
        %li
          %a{ :href => '#' } David Hossli
        %li
          %a{ :href => '#' } Joe Schmalz
        %li
          %a{ :href => '#' } Michael Müller
        %li
          %a{ :href => '#' } Walter Hochreutener
        %li
          %a{ :href => '#' } David Spiess
        %li
          %a{ :href => '#' } Beat Stocker

      %ul.slides
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/David_Hossli.jpg'
          .tab-slider-description
            %h1
              David Hossli
            %p
              =t('.chairman_of_managing_board')
            %p
              %a{ :href => 'mailto:david.hossli@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/Joe_Schmalz.jpg'
          .tab-slider-description
            %h1
              Joe Schmalz
            %p
              =t('.chief_financial_officer')
            %p
              %a{ :href => 'mailto:joe.schmalz@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/Michael_Mueller.jpg'
          .tab-slider-description
            %h1
              Michael Müller
            %p
              =t('.head_of_portfolio')
            %p
              %a{ :href => 'mailto:michael.mueller@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/Walter_Hochreutener.jpg'
          .tab-slider-description
            %h1
              Walter Hochreutener
            %p
              =t('.head_of_real_estate_management')
            %p
              %a{ :href => 'mailto:walter.hochreutener@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/David_Spiess.jpg'
          .tab-slider-description
            %h1
              David Spiess
            %p
              =t('.head_of_marketing_and_sales')
            %p
              %a{ :href => 'mailto:david.spiess@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/managing_board/Beat_Stocker.jpg'
          .tab-slider-description
            %h1
              Beat Stocker
            %p
              =t('.head_development_and_general_contracting')
            %p
              %a{ :href => 'mailto:beat.stocker@alfred-mueller.ch' }
                =t('.mailto_text')

  .flex-container.hidden#subsidiaries.tab-content
    .flexslider
      %ul.second-level-navigation
        %li
          %a{ :href => '#' } Pierre El Soda
        %li
          %a{ :href => '#' } Massimiliano Paganini

      %ul.slides
        %li
          = image_tag 'head_of_alfred_mueller/branch/Pierre_El_Soda.jpg'
          .tab-slider-description
            %h1
              Pierre El Soda
            %p
              = t('.director_of_subsidiary_western_switzerland')
            %p
              %a{ :href => 'mailto:pierre.elsoda@alfred-mueller.ch' }
                =t('.mailto_text')
        %li
          = image_tag 'head_of_alfred_mueller/branch/Massimiliano_Paganini.jpg'
          .tab-slider-description
            %h1
              Massimiliano Paganini
            %p
              = t('.director_of_subsidiary_southern_switzerland')
            %p
              %a{ :href => 'mailto:massimiliano.paganini@alfred-mueller.ch' }
                =t('.mailto_text')
