.contact-box
  .image{ :class => "image-for-contact-form-#{I18n.locale}"}
    .image-caption
      .image-caption-text
        %h3= t('.title')
        %p
          = t('.person_html')
        %p
          = t('.address_html')
      .clear
  .accordion.accordion--square
    .accordion__item
      = link_to t('.form_title'), new_contact_path, :remote => true, :class => :title
      .accordion__content.content
        #contact
