.contact-box
  .image{ :class => "image-for-job-application-#{I18n.locale}" }
    .image-caption
      .image-caption-text#apply
        %h3= t('.title')
        %p
          = t('.person_html')
        %p
          = link_to t('.address_text'), t('.address_link'), class: 'ga-tracking-link', data: { 'ga-category' => "Mitarbeiter", 'ga-action' => "Anzahl HR-Kontakte" }
      .clear
  .accordion.accordion--square
    .accordion__item
      = link_to t('.apply'), new_job_application_path, :remote => true, :class => :title
      .accordion__content
        #job-application
