.jobs
  .accordion.accordion-square
    - Job.published.where(:locale => I18n.locale).each do |job|
      .accordion-item{ :id => "job_#{job.id}", data: { 'ga-category' => "Mitarbeiter", 'ga-action' => "Ansicht Jobs", 'ga-label' => job.title } }
        .title= job.title
        .content
          = markdown(job.text)
          %ul.icon-list
            - if job.job_profile_file.present?
              %li
                = link_to t('.download_pdf'), job.job_profile_file.url, :target => '_new', :class => 'icon-pdf-white'
            %li
              = link_to t('.recommend_job'), "mailto:?subject=#{t('.recommend_job_title')}&body=#{URI.encode(request.url)}#job_#{job.id}", :class => 'icon-mail-white'
            %li
              = link_to t('.apply_for_job'), '#apply', :class => 'icon-pen-white'
