.accordion-item
  .title= t('.real_estate_description')
  .content
    = markdown real_estate.description

    - if additional_description.present?

      - if additional_description.location.present?
        %h3= t('.location_title')
        = markdown additional_description.location

      - if additional_description.interior.present?
        %h3= t('.interior_title')
        = markdown additional_description.interior

      - if additional_description.offer.present?
        %h3= t('.offer_title')
        = markdown additional_description.offer

      - if additional_description.infrastructure.present?
        %h3= t('.infrastructure_title')
        = markdown additional_description.infrastructure
