.container
  .map-slider
    .map-slide
      .map-handle
      .map{ 'data' => { :real_estate => real_estate.model.to_json(:only => :_id, :methods => :coordinates) } }
  .flex-container
    .flexslider
      %ul.slides
        - real_estate.images.each do |image|
          %li
            = image_tag image.file.gallery.url
            .flex-caption{ :class => caption_css_class_for_text(image.title) }
              %span= image.title
        - real_estate.floor_plans.each do |floor_plan|
          %li{ 'data-is_floorplan' => 'true' }
            = image_tag floor_plan.file.gallery.url
            .flex-caption
              %span= floor_plan.title
            = floor_plan.zoom_link
            = floor_plan.real_estate.north_arrow_overlay
            = zoomed_div floor_plan do
              .toolbar
                = link_to('close', '#', :class => 'icon-close zoom-close-button')
                = real_estate.floorplan_print_link(floor_plan)
              = image_tag floor_plan.file.gallery_zoom.url
              = real_estate.north_arrow_overlay

        - real_estate.videos.each do |video|
          %li
            %video.sublime{ id: "real-estate-movie-#{real_estate.address.simple}", title: real_estate.address.simple, preload: 'preload' }
              %source{ :src => video.file.url }
        - if real_estate.contact.present?
          %li
            = render :template => 'appointments/new'

          - if @real_estate.order_handout?
            %li{ 'data-is_handout_order' => 'true' }
              = render :template => 'handout_orders/new'
