.container
  .map-slider
    .map-slide
      .map-handle
      .map{ 'data' => { :real_estate => real_estate.model.to_json(:only => :_id, :methods => :coordinates) } }
  .flex-container
    .flexslider
      %ul.slides
        - real_estate.images.each do |image|
          %li
            = image_tag image.file.gallery.url
            .flex-caption
              %span= image.title
        - real_estate.floor_plans.each do |floor_plan|
          %li{ 'data-is_floorplan' => 'true' }
            = image_tag floor_plan.file.gallery.url
            .flex-caption
              %span= floor_plan.title
            = floor_plan.zoom_link
            = floor_plan.north_star_overlay
            = floor_plan.zoomed_div
        - real_estate.videos.each do |video|
          %li
            %video.sublime{ :preload => 'preload' }
              %source{ :src => video.file.url }
        - if real_estate.contact.present?
          %li
            = render :template=>'appointments/new'
