- unless real_estate.parking?
  - if information.try(&:location_html).present?
    %h3= t('information.location_html')
    = information.location_html.html_safe

  - if information.try(&:infrastructure_html).present?
    %h3= t('information.infrastructure_html')
    = information.infrastructure_html.html_safe

  - if information.try(&:interior_html).present?
    %h3= t('information.interior_html')
    = information.interior_html.html_safe

- if information && real_estate.working? || real_estate.storing?

  - if information.maximal_floor_loading.present?
    %dl
      %dt= t('information.maximal_floor_loading')
      %dd= information.maximal_floor_loading

  - if information.freight_elevator_carrying_capacity.present?
    %dl
      %dt= t('information.freight_elevator_carrying_capacity')
      %dd= information.freight_elevator_carrying_capacity
