.accordion-item
  .title= t('information.title')
  .content
    - if figure && real_estate.living?
      - if figure.floor.present?
        %dl
          %dt= t('figures.floor')
          %dd= figure.floor

      - if figure.rooms.present?
        %dl
          %dt= t('figures.rooms')
          %dd= figure.rooms

      - if figure.surface.present?
        %dl
          %dt= figure.surface_label
          %dd= figure.surface

    - if figure && real_estate.working?
      - if figure.property_surface.present?
        %dl
          %dt= t('figures.property_surface')
          %dd= figure.property_surface

    - if figure && real_estate.working? || real_estate.storing?
      - if figure.ceiling_height.present?
        %dl
          %dt= t('figures.ceiling_height')
          %dd= figure.ceiling_height

    - if figure && real_estate.working? || real_estate.living?
      - if figure.storage_surface.present?
        %dl
          %dt= t('figures.storage_surface')
          %dd= figure.storage_surface

    - if figure && figure.floors.present?
      %dl
        %dt= t('figures.floors')
        %dd= figure.floors

    - if figure && figure.renovated_on.present?
      %dl
        %dt= t('figures.renovated_on')
        %dd= figure.renovated_on

    - if figure && figure.built_on.present?
      %dl
        %dt= t('figures.built_on')
        %dd= figure.built_on

    - if information && information.characteristics.any? && !real_estate.parking?
      %dl
        %dt= t('information.characteristics')
        %dd= information.characteristics.join(', ')

    - if information && real_estate.working? || real_estate.storing?

      - if information.maximal_floor_loading.present?
        %dl
          %dt= t('information.maximal_floor_loading')
          %dd= information.maximal_floor_loading

      - if information.freight_elevator_carrying_capacity.present?
        %dl
          %dt= t('information.freight_elevator_carrying_capacity')
          %dd= information.freight_elevator_carrying_capacity

    - unless real_estate.parking?
      - if information && information.additional_information.present?
        %dl
          %dt= t('information.additional_information')
          %dd= information.additional_information
