.accordion-item
  .title= t('pricings.title') if pricing
  .content
    - if pricing && pricing.for_sale.present?
      %dl
        %dt= real_estate.category.label
        %dd
          = pricing.for_sale

    - if pricing && pricing.for_rent_netto.present?
      %dl
        %dt= t('pricings.for_rent_netto')
        %dd
          = pricing.for_rent_netto

    - if pricing && pricing.for_rent_extra.present?
      %dl
        %dt= t('pricings.for_rent_extra')
        %dd
          = pricing.for_rent_extra

    - if pricing && pricing.for_rent_depot.present?
      %dl
        %dt= t('pricings.for_rent_depot')
        %dd= pricing.for_rent_depot

    - if pricing && pricing.inside_parking.present?
      %dl
        %dt= t('pricings.inside_parking')
        %dd
          = pricing.inside_parking

    - if pricing && pricing.outside_parking.present?
      %dl
        %dt= t('pricings.outside_parking')
        %dd
          = pricing.outside_parking


    - if pricing && pricing.opted?
      %p= t('pricings.without_vat')

    - if information && information.available_from.present?
      %dl
        %dt= t('information.available_from')
        %dd= information.available_from_compact
