.accordion-item
  .title= t('pricings.title') if pricing
  .content

    -#
    -# ToDo: Use this method also in handouts
    -#
    - Pricing::PRICING_FIELDS.each do |pricing_field|
      = pricing.render_pricing_field(pricing_field)

    - if pricing && pricing.opted?
      %p= t('pricings.without_vat')

    - if information && information.available_from.present?
      %dl
        %dt= t('information.available_from')
        %dd= information.available_from_compact
