.accordion-item
  .title= t('pricings.title') if pricing
  .content

    - PricingDecorator::INVARIANT_PRICING_FIELDS.each do |pricing_field|
      = pricing.render_pricing_field(pricing_field)

    - if pricing && pricing.opted?
      %p= t('pricings.without_vat')

    - if information && information.available_from.present?
      %dl
        %dt= t('information.available_from')
        %dd
          %span.value= information.available_from_compact
