.search-filter-container

  .offer-tabs
    %ul
      %li.for_sale-tab{:class=>@search_filter.for_sale? ? "selected" : ""}
        = link_to t("real_estates.search_filter.for_sale"), real_estates_path(:offer=>SearchFilter::SALE, :utilization=>@search_filter.utilization)
      %li.for-rent-tab{:class=>@search_filter.for_rent? ? "selected" : ""}
        = link_to t("real_estates.search_filter.for_rent"), real_estates_path(:offer=>SearchFilter::RENT, :utilization=>@search_filter.utilization)

  .utilization-tabs
    %ul
      %li.non-commercial{:class=>!@search_filter.commercial? ? "selected" : ""}
        = link_to t("real_estates.search_filter.private"), real_estates_path({:offer=>@search_filter.offer, :utilization=>SearchFilter::NON_COMMERCIAL})
      %li.commercial{:class=>@search_filter.commercial? ? "selected" : ""}
        = link_to t("real_estates.search_filter.commercial"), real_estates_path({:offer=>@search_filter.offer, :utilization=>SearchFilter::COMMERCIAL})

  .search-filter-form
    = form_for @search_filter, :url=>real_estates_path, :method=>'GET' do |f|
      = f.hidden_field :offer
      = f.hidden_field :utilization
      = f.label :cantons
      = f.collection_select :cantons, cantons_for_collection_select(@search_filter.available_cantons.sort) , :first, :last, {}, :multiple=>true, :data=>{:placeholder=>t("helpers.select.prompt")}, :class=>'chzn-select'
      = f.label :cities
      = f.select :cities, @search_filter.available_cities.sort, {}, :multiple=>true, :class=>'chzn-select', :data=>{'cantons-cities-map'=>@search_filter.cantons_cities_map, :placeholder=>t("helpers.select.prompt")}
      = f.submit t "real_estates.search_filter.search"
