%thead
  %tr
    %th{ :colspan => 4 }
      .search-filter-order-form
        = form_for @search_filter, :url => real_estates_path, :method=> 'GET' do |f|
          .sort-field
            .sort-order-dropdown{ 'data-label_text' => t('.sort_field_label') }
              .label
              = f.select :sort_field, @search_filter.available_sort_fields.map { |field_name| [t(".search_fields.#{field_name}"), field_name] }
          .sort-order
            .sort-order-toggle
              = f.hidden_field :sort_order, :class => 'sort-order-hidden-field'
              - @search_filter.available_sort_orders.each do |order|
                %div{ :class => "#{order}" }
                  = t(".search_orders.#{order}")
          = f.hidden_field :offer
          = f.hidden_field :utilization
