- content_for :meta do
  %meta{ :name => :description, :content => @real_estate.seo_description }

= render 'google_maps'

- if @real_estate.videos.any?
  - content_for :javascript do
    %script{ :type => "text/javascript", :src => "http://cdn.sublimevideo.net/js/go4z5g30.js" }

= form_for @search_filter, :url=>real_estates_path, :method=>'GET' do |search_form|
  = render 'search_filter', :search_form => search_form

.detail{ class: "real-estate-#{@real_estate.id}" }
  - if @pagination.valid?
    .result-nav
      %ul
        %li
          - if @pagination.prev?
            = link_to t('.prev'), real_estate_path(@pagination.prev, @search_filter.to_params), :class => 'arrow-tailed-small-left image-link'
          - else
            %span.arrow-tailed-small-left.image-link.disabled-link
              = t('.prev')

        %li= link_to t('.overview'), real_estates_path(@search_filter.to_params)

        %li
          - if @pagination.next?
            = link_to t('.next'), real_estate_path(@pagination.next, @search_filter.to_params), :class => 'arrow-tailed-small-right image-link'
          - else
            %span.arrow-tailed-small-right.image-link.disabled-link
              = t('.next')

  .main-title
    %h1= @real_estate.title
  .clear
  .short-info
    .info.first
      = @real_estate.short_info_detail_first
    .info
      = @real_estate.short_info_detail_second
    .info
      = @real_estate.short_info_detail_third
    .info
      = @real_estate.short_info_detail_fourth
    .clear

  .gallery
    = render 'gallery', :real_estate => @real_estate

  - @real_estate.within_language do
    .description
      .accordion.accordion-classical{ 'data-open_first' => 1 }

        - if @real_estate.description.present?
          .accordion-item
            .title= t('additional_descriptions.title')
            .content= @real_estate.description.html_safe

        - figure_content = render 'figure', :real_estate => @real_estate, :figure => @real_estate.figure
        - if figure_content.present?
          .accordion-item
            .title= t('figures.title')
            .content= figure_content

        - pricing_content = render 'pricing', :real_estate => @real_estate, :pricing => @real_estate.pricing
        - if pricing_content.present?
          .accordion-item
            .title= t('pricings.title')
            .content= pricing_content

        - information_content = render 'information', :real_estate => @real_estate, :information => @real_estate.information
        - if information_content.present?
          .accordion-item
            .title= t('information.title')
            .content
              = information_content

        - if @real_estate.contact.present?
          = render 'contact', :real_estate => @real_estate, :contact => @real_estate.contact

  .sidebar
    %ul
      - if @real_estate.handout_order_link
        %li= @real_estate.handout_order_link

      - elsif @real_estate.mini_doku_link
        %li= @real_estate.mini_doku_link

      - if @real_estate.application_form_link
        %li= @real_estate.application_form_link
      - if @real_estate.floorplan_link
        %li= @real_estate.floorplan_link
      - if @real_estate.floorplan_print_link
        %li= @real_estate.floorplan_print_link
      - if @real_estate.project_website_link
        %li= @real_estate.project_website_link

      - if @real_estate.render_document_links
        = @real_estate.render_document_links

  .clear
