- content_for :meta do
  %meta{ :name => :description, :content => @real_estate.seo_description }

= render 'google_maps'

- if @real_estate.videos.any?
  - content_for :javascript do
    %script{ :type => "text/javascript", :src => "http://cdn.sublimevideo.net/js/go4z5g30.js" }

= render 'search_filter'

.result-nav
  %ul
    %li= link_to t('.prev'), real_estate_path(@prev_real_estate, @search_filter.to_params), :class => 'arrow-tailed-small-left image-link'
    %li= link_to t('.overview'), real_estates_path(@search_filter.to_h)
    %li= link_to t('.next'), real_estate_path(@next_real_estate, @search_filter.to_params), :class => 'arrow-tailed-small-right image-link'

.detail
  .main-title
    %h1= @real_estate.title
    - if @real_estate.property_name.present?
      %h3= @real_estate.property_name
  .clear
  .short-info
    .info.first
      = @real_estate.short_info_address
    .info
      = @real_estate.short_info_price
    .info
      = @real_estate.short_info_figure
    .info
      = @real_estate.short_info_size
    .clear

  .gallery
    = render 'gallery', :real_estate => @real_estate

  .description
    .accordion.accordion-classical{ 'data-open_first' => 1 }
      = render 'descriptions', :real_estate => @real_estate, :additional_description => @real_estate.additional_description

      - if @real_estate.information.present? || @real_estate.figure.present?
        = render 'information', :real_estate => @real_estate, :information => @real_estate.information, :figure => @real_estate.figure

      = render 'pricing', :real_estate => @real_estate, :pricing => @real_estate.pricing

      - if @real_estate.infrastructure.present?
        = render 'infrastructure', :real_estate => @real_estate, :infrastructure => @real_estate.infrastructure

      - if @real_estate.contact.present?
        = render 'contact', :real_estate => @real_estate, :contact => @real_estate.contact

  .sidebar
    %ul
      %li= @real_estate.mini_doku_link
      %li= @real_estate.application_form_link
      %li= @real_estate.floorplan_link
      %li= @real_estate.floorplan_print_link
      %li= @real_estate.project_website_link

      - @real_estate.documents.each do |doc|
        %li= link_to doc.title, doc.file.url, :class => 'icon icon-pdf'

  .clear
