- content_for :meta do
  %meta{ :name => :keywords, :content => @real_estate.keywords }
  %meta{ :name => :description, :content => @real_estate.short_description }

- content_for :javascripts do
  %script{ :type => 'text/javascript', :src => "http://maps.googleapis.com/maps/api/js?key=#{Settings.google_maps_api_key}&sensor=false" }

- if @real_estate.media_assets.videos.size > 0
  - content_for :javascript do
    %script{ :type => "text/javascript", :src => "http://cdn.sublimevideo.net/js/go4z5g30.js" }

= render 'search_filter'

.detail
  .gallery
    .container
      .map-slider
        .map-slide
          .map-handle
          .map{ 'data-address' => @real_estate.google_maps_address }
      .flex-container
        .flexslider
          %ul.slides
            - @real_estate.media_assets.displayable.each do |asset|
              %li
                - if asset.image?
                  = image_tag asset.file.url
                  .flex-caption
                    %span= asset.title
                - if asset.video?
                  %video.sublime{ :preload => 'preload' }
                    %source{ :src => asset.file.url }

  .description
    %h1= @real_estate.title

    .short-infos
      .info
        = @real_estate.full_address
      .info
        = @real_estate.quick_infos
      .info
        = @real_estate.quick_price_infos
      .clear

    = @real_estate.description

    .accordion.accordion-classical
      .accordion-item
        .title= t('.real_estate_infos')
        .content
          %ul
            - @real_estate.information_shared.each do |line|
              %li= line
          %ul
            - @real_estate.information_basic.each do |line|
              %li= line
      .accordion-item
        .title= t('.pricing')
        .content
          %ul
            - @real_estate.price_info_basic.each do |line|
              %li= line
          %ul
            - @real_estate.price_info_parking.each do |line|
              %li= line
      .accordion-item
        .title= t('.facts_and_figures')
        .content
          %ul
            - @real_estate.facts_and_figures.each do |line|
              %li= line
      .accordion-item
        .title= t('.infrastructure')
        .content
          %ul
            - @real_estate.infrastructure_parking.each do |line|
              %li= line
          %ul
            - @real_estate.infrastructure_distances.each do |line|
              %li= line

  .sidebar
    .nav
      %ul
        %li= link_to t('.prev'), real_estate_path(@prev_real_estate, @search_filter.to_h), :class => 'arrow-tailed-small-left image-link'
        %li= link_to t('.overview'), real_estates_path(@search_filter.to_h), :class => 'classic'
        %li= link_to t('.next'), real_estate_path(@next_real_estate, @search_filter.to_h), :class => 'arrow-tailed-small-right image-link'

    %ul
      %li= @real_estate.mini_doku_link
      %li= link_to t('.floorplan'), '#', :class => 'icon-groundplan'
      %li= link_to t('.to_favorites'), '#', :class => 'icon-favorit'
