- content_for :meta do
  %meta{ :name => :description, :content => @real_estate.seo_description }

= #render 'google_maps'

- if @real_estate.media_assets.videos.size > 0
  - content_for :javascript do
    %script{ :type => "text/javascript", :src => "http://cdn.sublimevideo.net/js/go4z5g30.js" }

= render 'search_filter'

.result-nav
  %ul
    %li= link_to t('.prev'), real_estate_path(@prev_real_estate, @search_filter.to_params), :class => 'arrow-tailed-small-left image-link'
    %li= link_to t('.overview'), real_estates_path(@search_filter.to_h)
    %li= link_to t('.next'), real_estate_path(@next_real_estate, @search_filter.to_params), :class => 'arrow-tailed-small-right image-link'

.detail
  .main-title
    %h1= @real_estate.title
    - if @real_estate.property_name.present?
      %h3= @real_estate.property_name
  .clear
  .short-info
    .info.first
      = @real_estate.short_info_address
    .info
      = @real_estate.short_info_price
    .info
      = @real_estate.short_info_figure
    .info
      = @real_estate.short_info_size
    .clear

  .gallery
    .container
      .map-slider
        .map-slide
          .map-handle
          .map{ 'data' => { :real_estate => @real_estate.model.to_json(:only => :_id, :methods => :coordinates) } }
      .flex-container
        .flexslider
          %ul.slides
            - @real_estate.media_assets.displayable.each do |asset|
              %li{ 'data-is_floorplan' => asset.is_floorplan.to_s }
                - if asset.image?
                  = image_tag asset.file.gallery.url
                  .flex-caption
                    %span= asset.title
                - if asset.is_floorplan?
                  = link_to t('.floorplan'), asset.url, :class => 'zoom-floorplan zoom-overlay'

                - if asset.video?
                  %video.sublime{ :preload => 'preload' }
                    %source{ :src => asset.file.url }
            - if @real_estate.contact.present?
              %li
                = render :template=>'appointments/new'
  .description
    .accordion.accordion-classical{ 'data-open_first' => 1 }
      .accordion-item
        .title= t('.real_estate_description')
        .content
          = markdown @real_estate.description

          - if @real_estate.additional_description.present?

            - if @real_estate.additional_description.location.present?
              %h3= t('.location_title')
              = markdown @real_estate.additional_description.location

            - if @real_estate.additional_description.interior.present?
              %h3= t('.interior_title')
              = markdown @real_estate.additional_description.interior

            - if @real_estate.additional_description.offer.present?
              %h3= t('.offer_title')
              = markdown @real_estate.additional_description.offer

            - if @real_estate.additional_description.infrastructure.present?
              %h3= t('.infrastructure_title')
              = markdown @real_estate.additional_description.infrastructure

      .accordion-item
        .title= t('.real_estate_infos')
        .content
          %ul
            - @real_estate.information_shared.each do |line|
              %li= line
          %ul
            - @real_estate.information_basic.each do |line|
              %li= line
      - unless @real_estate.price_info_basic.empty? && @real_estate.price_info_parking.empty?
        .accordion-item
          .title= t('.pricing')
          .content
            %ul
              - @real_estate.price_info_basic.each do |line|
                %li= line
            %ul
              - @real_estate.price_info_parking.each do |line|
                %li= line

      - unless @real_estate.facts_and_figures.present? || @real_estate.information.present?
        = render 'information', :real_estate => @real_estate, :information => @real_estate.information, :figures => @real_estate.facts_and_figures

      - unless @real_estate.infrastructure_parking.empty? && @real_estate.infrastructure_distances.empty?
        .accordion-item
          .title= t('.infrastructure')
          .content
            %ul
              - @real_estate.infrastructure_parking.each do |line|
                %li= line
            %ul
              - @real_estate.infrastructure_distances.each do |line|
                %li= line

      - if @real_estate.contact.present?
        .accordion-item
          .title= t('.contact_person')
          .content
            %p
              - if @real_estate.contact.image.present?
                = image_tag @real_estate.contact.image
              .image-caption
                .image-caption-text
                  = @real_estate.contact.contact_info
                .clear

  .sidebar
    %ul
      %li= @real_estate.mini_doku_link
      %li= @real_estate.floorplan_link
      %li= @real_estate.project_website_link

      - @real_estate.media_assets.docs.each do |doc|
        %li= link_to doc.title, doc.file.url, :class => 'icon icon-pdf'

  .clear
