= render_navigation :context => :real_estate

= form_for @address, :url => cms_real_estate_address_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @address

  %fieldset
    .control-group.mandatory
      = f.label :street
      .controls
        = f.text_field :street, :class => 'span8'
    .control-group
      = f.label :street_number
      .controls
        = f.text_field :street_number, :class => 'span3'
    .control-group.mandatory
      = f.label :city
      .controls
        = f.text_field :city, :class => 'span8'
    .control-group.mandatory
      = f.label :zip
      .controls
        = f.text_field :zip, :class => 'span3'
    .control-group.mandatory
      = f.label :canton
      .controls
        = f.select :canton, Address::CANTONS.map { |c| [t("cantons.#{c}"), c] }, :prompt => 'Kanton auswählen', :class => 'span8'
    .control-group
      = f.label :link_url
      .controls
        = f.text_field :link_url, :class => 'span8'
  %fieldset
    %legend= t "mongoid.attributes.address.location"
    = f.fields_for :location, @address.to_coordinates do |rf|
      .control-group
        = f.label :first, t("mongoid.attributes.address.lat")
        .controls
          = rf.text_field :first, :class => 'span8', :readonly=>true
      .control-group
        = f.label :last, t("mongoid.attributes.address.lng")
        .controls
          = rf.text_field :last, :class => 'span8', :readonly=>true
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
