= render_navigation :context => :real_estate

= form_for @address, :url => cms_real_estate_address_path(@real_estate) do |f|
  = render 'cms/real_estates/errors', :model => @address

  %fieldset
    .control-group
      = f.label :street
      .controls
        = f.text_field :street, :class => 'span8'
    .control-group
      = f.label :street_number
      .controls
        = f.text_field :street_number, :class => 'span3'
    .control-group
      = f.label :city
      .controls
        = f.text_field :city, :class => 'span8'
    .control-group
      = f.label :zip
      .controls
        = f.text_field :zip, :class => 'span3'
    .control-group
      = f.label :canton
      .controls
        = f.select :canton, Address::CANTONS.map { |c| [t("cantons.#{c}"), c] }, :prompt => 'Kanton auswählen', :class => 'span8'
    .control-group
      = f.label :link_url
      .controls
        = f.text_field :link_url, :class => 'span8'
  %fieldset
    %legend= GeoLocation.model_name.human
    = f.fields_for @address.geo_location do |rf|
      .control-group
        = rf.label :lat
        .controls
          = rf.text_field :lat, :class => 'span8'
      .control-group
        = rf.label :lng
        .controls
          = rf.text_field :lng, :class => 'span8'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
