-if @appointment.errors.any?
  .alert
    %h3= t('.errors')

= form_for [@real_estate, @appointment], :remote=>true do |f|
  = f.hidden_field :unnecessary_field
  .col.first
    .control-group
      .controls
        = f.text_field :firstname, :placeholder => Appointment.human_attribute_name(:firstname)
    .control-group
      .controls
        = f.text_field :lastname, :placeholder => Appointment.human_attribute_name(:lastname)
    .control-group
      .controls
        = f.text_field :email, :placeholder => Appointment.human_attribute_name(:email)
  .col
    .control-group
      .controls
        = f.text_field :phone, :placeholder => Appointment.human_attribute_name(:phone)
    .control-group
      .controls
        = f.text_field :street, :placeholder => Appointment.human_attribute_name(:street)
    .control-group
      .controls
        = f.text_field :zipcode, :placeholder => Appointment.human_attribute_name(:zipcode), :class => 'short'
        = f.text_field :city, :placeholder => Appointment.human_attribute_name(:city), :class => 'medium-short'
    .form-actions
      .controls
        = f.submit t(".submit")
