= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @additional_description, :url => cms_real_estate_additional_description_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @additional_description

  %fieldset
    .control-group
      = f.label :generic
      .controls
        = f.text_area :generic, :class => 'span8'
    .control-group
      = f.label :location
      .controls
        = f.text_area :location, :class => 'span8'
    .control-group
      = f.label :interior
      .controls
        = f.text_area :interior, :class => 'span8'
    .control-group
      = f.label :offer
      .controls
        = f.text_area :offer, :class => 'span8'
    .control-group
      = f.label :infrastructure
      .controls
        = f.text_area :infrastructure, :class => 'span8'
    .control-group
      = f.label :orientation_degrees
      .controls
        = f.text_field :orientation_degrees, :class => 'span3'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
