= render 'wizard_header'

= render_navigation :context => :real_estate

-if @additional_description.nil?
  Für diese Immobilie wurden keine #{t "navigation.cms.real_estates_navigation.additional_description"} hinterlegt.
-else
  %dl.dl-horizontal
    %dt= t "mongoid.attributes.additional_description.location"
    %dd
      = @additional_description.location.html_safe
      &nbsp;

    %dt= t "mongoid.attributes.additional_description.interior"
    %dd
      = @additional_description.interior.html_safe
      &nbsp;

    %dt= t "mongoid.attributes.additional_description.offer"
    %dd
      = @additional_description.offer.html_safe
      &nbsp;

    %dt= t "mongoid.attributes.additional_description.infrastructure"
    %dd
      = @additional_description.infrastructure.html_safe
      &nbsp;

    %dt= t "mongoid.attributes.additional_description.orientation_degrees"
    %dd
      = @additional_description.orientation_degrees
      &nbsp;
