= render 'wizard_header'

= render_navigation :context => :real_estate


%dl
  %dt.span3= t "mongoid.attributes.description.generic"
  %dd
    = @additional_description.generic
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.location"
  %dd
    = @additional_description.location
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.interior"
  %dd
    = @additional_description.interior
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.offer"
  %dd
    = @additional_description.offer
    &nbsp;


  %dt.span3= t "mongoid.attributes.description.infrastructure"
  %dd
    = @additional_description.infrastructure
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.usage"
  %dd
    = @additional_description.usage
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.reference_date"
  %dd
    = @additional_description.reference_date
    &nbsp;

  %dt.span3= t "mongoid.attributes.description.orientation_degrees"
  %dd
    = @additional_description.orientation_degrees
    &nbsp;

