= render_navigation :context => :real_estate

= form_for @figure, :url => cms_real_estate_figure_path(@real_estate) do |f|
  = render 'cms/real_estates/errors', :model => @figure

  %fieldset
    .control-group
      = f.label :floor
      .controls
        = f.text_field :floor, :class => 'span4'
    .control-group
      = f.label :floor_estimate
      .controls
        = f.text_field :floor_estimate, :class => 'span8'
    .control-group
      = f.label :rooms
      .controls
        = f.text_field :rooms, :class => 'span4'
    .control-group
      = f.label :rooms_estimate
      .controls
        = f.text_field :rooms_estimate, :class => 'span8'
    .control-group
      = f.label :living_surface
      .controls
        = f.text_field :living_surface, :class => 'span4'
    .control-group
      = f.label :living_surface_estimate
      .controls
        = f.text_field :living_surface_estimate, :class => 'span8'
    .control-group
      = f.label :property_surface
      .controls
        = f.text_field :property_surface, :class => 'span4'
    .control-group
      = f.label :usable_surface
      .controls
        = f.text_field :usable_surface, :class => 'span4'
    - if @real_estate.commercial_utilization?
      .control-group
        = f.label :storage_surface
        .controls
          = f.text_field :storage_surface, :class => 'span4'
    .control-group
      = f.label :ceiling_height
      .controls
        = f.text_field :ceiling_height, :class => 'span4'
    .control-group
      = f.label :floors
      .controls
        = f.text_field :floors, :class => 'span4'
    .control-group
      = f.label :renovated_on
      .controls
        = f.text_field :renovated_on, :class => 'span2'
    .control-group
      = f.label :built_on
      .controls
        = f.text_field :built_on, :class => 'span2'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
