= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for @figure, :url => cms_real_estate_figure_path(@real_estate) do |f|

  = render 'cms/shared/errors', :model => @figure

  %fieldset

    - if accessible?(:floor)
      .control-group{ :class => (@real_estate.working? || @real_estate.living? || @real_estate.storing? ? :mandatory : nil) }
        = f.label :floor
        .controls
          = f.text_field :floor, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:floor), 'data-content' => t('.help_popover.floor') }

    - if accessible?(:floor_estimate)
      .control-group
        = f.label :floor_estimate
        .controls
          = f.text_field :floor_estimate, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:floor_estimate), 'data-content' => t('.help_popover.floor_estimate') }

    - if accessible?(:rooms)
      .control-group.mandatory
        = f.label :rooms
        .controls
          = f.text_field :rooms, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:rooms), 'data-content' => t('.help_popover.rooms') }

    - if accessible?(:rooms_estimate)
      .control-group
        = f.label :rooms_estimate
        .controls
          = f.text_field :rooms_estimate, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:rooms_estimate), 'data-content' => t('.help_popover.rooms_estimate') }

    - if accessible?(:living_surface)
      .control-group
        = f.label :living_surface
        .controls
          = f.text_field :living_surface, :class => 'span4'

    - if accessible?(:living_surface_estimate)
      .control-group
        = f.label :living_surface_estimate
        .controls
          = f.text_field :living_surface_estimate, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:living_surface_estimate), 'data-content' => t('.help_popover.living_surface_estimate') }

    - if accessible?(:specification_living_surface)
      .control-group
        = f.label :specification_living_surface
        .controls
          = f.text_area :specification_living_surface, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:specification_living_surface), 'data-content' => t('.help_popover.specification_living_surface') }

    - if accessible?(:property_surface)
      .control-group
        = f.label :property_surface
        .controls
          = f.text_field :property_surface, :class => 'span4'

    - if accessible?(:property_surface_estimate)
      .control-group
        = f.label :property_surface_estimate
        .controls
          = f.text_field :property_surface_estimate, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:property_surface_estimate), 'data-content' => t('.help_popover.property_surface_estimate') }

    - if accessible?(:usable_surface)
      .control-group.mandatory
        = f.label :usable_surface
        .controls
          = f.text_field :usable_surface, :class => 'span4'

    - if accessible?(:usable_surface_estimate)
      .control-group
        = f.label :usable_surface_estimate
        .controls
          = f.text_field :usable_surface_estimate, :class => 'span4'
          %i.icon-question-sign.help-popover{ :rel => 'popover', 'data-original-title' => Figure.human_attribute_name(:usable_surface_estimate), 'data-content' => t('.help_popover.usable_surface_estimate') }

    - if accessible?(:specification_usable_surface)
      .control-group
        = f.label :specification_usable_surface
        - if @real_estate.working?
          .controls
            %label.radio
              = f.radio_button :specification_usable_surface_toilet, true, :checked => true
              %span mit WC-Anteil

            = f.text_area :specification_usable_surface_with_toilet, :class => 'span4'

          .controls
            %label.radio
              %br/
              = f.radio_button :specification_usable_surface_toilet, false
              %span ohne WC-Anteil

            = f.text_area :specification_usable_surface_without_toilet, :class => 'span4'

        - if @real_estate.storing?
          .controls
            = f.text_area :specification_usable_surface, :class => 'span4'

    - if accessible?(:storage_surface)
      .control-group
        = f.label :storage_surface
        .controls
          = f.text_field :storage_surface, :class => 'span4'

      .control-group
        = f.label :storage_surface_estimate
        .controls
          = f.text_field :storage_surface_estimate, :class => 'span4'

    - if accessible?(:ceiling_height)
      .control-group
        = f.label :ceiling_height
        .controls
          = f.text_field :ceiling_height, :class => 'span4'

    - if accessible?(:floors)
      .control-group
        = f.label :floors
        .controls
          = f.text_field :floors, :class => 'span4'

    - if accessible?(:renovated_on)
      .control-group
        = f.label :renovated_on
        .controls
          = f.text_field :renovated_on, :class => 'span2'

    - if accessible?(:built_on)
      .control-group
        = f.label :built_on
        .controls
          = f.text_field :built_on, :class => 'span2'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'
