= form_for [:cms, @teaser], html: { multipart: true } do |f|
  = render 'cms/shared/errors', model: @teaser

  = f.hidden_field :locale
  %fieldset.push-checkboxes-down
    .control-group
      = f.label :title
      .controls
        = f.text_field :title, class: 'span8'
    .control-group
      = f.label :text
      .controls
        = f.text_area :text, class: 'editor'
    .control-group
      = f.label :is_published
      .controls
        = f.check_box :is_published
    .control-group
      = f.label :teaser_profile_file
      .controls
        = f.file_field :teaser_profile_file
        = f.hidden_field :teaser_profile_file_cache

        - if @teaser.teaser_profile_file.present?
          .well
            = link_to 'Stellenprofil anzeigen', @teaser.teaser_profile_file.url, target: '_new'

    - if @teaser.teaser_profile_file.present?
      .control-group
        = f.label :remove_teaser_profile_file
        .controls
          = f.check_box :remove_teaser_profile_file

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
