= render 'cms/shared/errors', :model => @floor_plan

%fieldset
  .control-group.mandatory
    = f.label :title
    .controls
      = f.text_field :title, :class => 'span8'
  .control-group.mandatory
    = f.label :file
    .controls
      = f.file_field :file
      = f.hidden_field :file_cache

      - if @floor_plan.persisted? && @floor_plan.file.present?
        .well
          = non_caching_image_tag @floor_plan.file.gallery.url
        = link_to t('.crop'), edit_cms_real_estate_image_cropping_path(@real_estate, @floor_plan, :image_type => 'floor_plan')

.form-actions
  = f.submit t('.save'), :class => 'btn btn-primary'
  .pull-right
    = render 'cms/media_assets/actions'
