.vision-slider
  .toggle
    .toggle-open
      %span= t('.open')
    .toggle-close
      %span= t('.close')
  .flex-container
    .flexslider
      .vision-frame
        %a.vision-click-area.disabled{ :href => '#' }
        = image_tag 'vision/frame.png'
      %ul.slides
        %li
          = image_tag 'vision/slide-1.jpg'
          .image-caption
            .image-caption-text
              %h3.vision-header-title= t('.vision.title')
              = link_to t('.vision.link_title'), root_path, :class => :go
        %li
          = image_tag 'vision/slide-1.jpg'
          .image-caption
            .image-caption-text
              %h3.vision-header-title= t('.vision.title')
              = link_to t('.vision.link_title'), root_path, :class => :go