.vision-slider
  .toggle
    .toggle-open
      = t('.open')
    .toggle-close
      = t('.close')
  .flexslider
    .vision-frame
      = image_tag 'vision/frame.png'
    %ul.slides
      %li
        = image_tag 'vision/slide-1.jpg'
      %li
        = image_tag 'vision/slide-1.jpg'