= render_navigation :context => :real_estate

= form_for [:cms, @real_estate, @media_asset], :html => { :multipart => true } do |f|
  = render 'cms/real_estates/errors', :model => @media_asset

  %fieldset
    .control-group
      = f.label :title
      .controls
        = f.text_field :title, :class => 'span8'
    - unless @media_asset.document?
      .control-group
        = f.label :is_primary
        .controls
          %label.checkbox
            = f.check_box :is_primary
    .control-group
      = f.label :file
      .controls
        = f.file_field :file
        = f.hidden_field :file_cache

        - if @media_asset.file.present?
          .well
            - if @media_asset.image?
              = image_tag @media_asset.file.cms_preview.url
            - if @media_asset.video?
              %video.sublime{ :width => 640, :height => 360, :preload => 'none' }
                %source{ :src => @media_asset.file.url }
            - if @media_asset.document?
              = link_to "\"#{@media_asset.title}\" in neuem Fenster öffnen", @media_asset.file.url, :target => '_new'


  .form-actions
    = f.hidden_field :media_type
    = f.submit t(".save_#{@media_asset.media_type}"), :class => 'btn btn-primary'
    .pull-right
      = link_to t('.add_image'), new_cms_real_estate_image_path, :class => 'btn btn-small'
      = link_to t('.add_video'), new_cms_real_estate_video_path, :class => 'btn btn-small'
      = link_to t('.add_document'), new_cms_real_estate_document_path, :class => 'btn btn-small'
      = link_to t('.to_overview'), cms_real_estate_media_assets_path, :class => 'btn btn-info btn-small'
