= form_for [:cms, real_estate], :remote => true, :html => { :class => :autosubmit } do |f|
  %table.table.table-bordered.table-striped.sortable
    %thead
      %tr
        %th{ :width => '7%' }
        %th{ :width => '80%' } Bilder
        %th
        %th

    %tbody
      = f.fields_for :images do |image_form|
        %tr.draggable-row{:id => "image-#{image_form.object.id}"}
          %td.drag-handle
            %i.icon-align-justify
            = image_form.hidden_field :position
          %td= image_form.object.title
          %td
            - if can? :update, image_form.object
              = link_to  t('.destroy'), cms_real_estate_image_path(real_estate, image_form.object), :method => :delete, :confirm => t('.confirm_delete', :title => image_form.object.title)
          %td
            - if can? :update, image_form.object
              = link_to  t('.edit'), edit_cms_real_estate_image_path(real_estate, image_form.object)
            - else
              = link_to t('.show'), cms_real_estate_image_path(real_estate, image_form.object)