= render 'wizard_header'

= render_navigation :context => :real_estate

= form_for [:cms, @real_estate, @information], :url=>cms_real_estate_information_path(@real_estate) do |f|
  = render 'cms/shared/errors', :model => @information

  %fieldset
    %legend
      = t ".location"
      %span.description= t ".location_desc"

    .row
      .span12
        .floated-controls-box
          = f.fields_for :points_of_interest do |poi_f|
            .control-group
              = poi_f.label :distance, t(".points_of_interest.types.#{poi_f.object.name}")

              .controls
                = poi_f.text_field :distance, class: 'span1'
                = poi_f.hidden_field :name

    - if accessible?(:location_html)
      .row
        .span12
          - if @location_html_changed
            .alert
              = t('cms.information.form.check_new_entries')
              = @original_location_html
          .control-group
            = f.label :location_html
            .controls
              .row
                .span8
                  = f.text_area :location_html, :class => 'editor'

  - unless @real_estate.parking?
    %fieldset.push-checkboxes-down
      %legend= t ".building_information"
      .row
        .span12
          .floated-controls-box
            - floated_field(f, :text_field, :built_on, class: 'span1')
            - floated_field(f, :text_field, :renovated_on, class: 'span1')
            - floated_field(f, :text_field, :floors, class: 'span1')
            - floated_field(f, :check_box,  :has_swimming_pool)
            - floated_field(f, :check_box,  :is_child_friendly)
            - floated_field(f, :check_box,  :is_wheelchair_accessible)
            - floated_field(f, :check_box,  :is_minergie_style)
            - floated_field(f, :check_box,  :is_minergie_certified)
            - floated_field(f, :check_box,  :has_elevator)
            - floated_field(f, :text_field,  :freight_elevator_carrying_capacity)
            - floated_field(f, :check_box,  :has_ramp)
            - floated_field(f, :check_box,  :has_lifting_platform)
            - floated_field(f, :check_box,  :has_railway_terminal)

      .row
        .span12
          - if @infrastructure_html_changed
            .alert
              = t('cms.information.form.check_new_entries')
              = @original_infrastructure_html
          .control-group
            = f.label :infrastructure_html
            .controls
              .row
                .span8
                  = f.text_area :infrastructure_html, :class => 'editor'

    %fieldset.push-checkboxes-down
      %legend= t ".building_up"
      .row
        .span12
          .floated-controls-box

            - floated_field(f, :check_box,  :has_sewage_supply)
            - floated_field(f, :check_box,  :has_water_supply)
            - floated_field(f, :check_box,  :has_balcony)
            - floated_field(f, :check_box,  :has_garden_seating)
            - floated_field(f, :check_box,  :has_fireplace)
            - floated_field(f, :check_box,  :has_isdn)
            - floated_field(f, :check_box,  :has_cable_tv)
            - floated_field(f, :text_field,  :maximal_floor_loading, class: 'span1')
            - floated_field(f, :text_field,  :number_of_restrooms, class: 'span1')
            - floated_field(f, :text_field,  :ceiling_height, class: 'span1')

      .row
        .span12
          - if @additional_information_changed
            .alert
              = t('cms.information.form.check_new_entries')
              = @original_additional_information
          .control-group
            = f.label :additional_information
            .controls
              .row
                .span8
                  = f.text_area :additional_information, class: 'editor'

      .row
        .span12
          - if @interior_html_changed
            .alert
              = t('cms.information.form.check_new_entries')
              = @original_interior_html
          .control-group
            = f.label :interior_html
            .controls
              .row
                .span8
                  = f.text_area :interior_html, class: 'editor'

    %fieldset.push-checkboxes-down
      %legend
        = t ".relevant_for_external_portals"
        %span.description= t ".relevant_for_external_portals_desc"

      .row
        .span12
          .floated-controls-box
            - if @real_estate.living?
              .control-group
                = f.label :is_old_building
                .controls
                  = f.check_box :is_old_building
                  %i.icon-question-sign.help-popover.push-inline-labels-down{ :rel => 'popover', 'data-original-title' => Information.human_attribute_name(:is_old_building), 'data-content' => t('.help_popover.is_old_building') }

            .control-group
              = f.label :is_new_building
              .controls
                = f.check_box :is_new_building
                %i.icon-question-sign.help-popover.push-inline-labels-down{ :rel => 'popover', 'data-original-title' => Information.human_attribute_name(:is_new_building), 'data-content' => t('.help_popover.is_new_building') }

            .control-group
              = f.label :has_outlook
              .controls
                = f.check_box :has_outlook

            .control-group
              = f.label :has_raised_ground_floor
              .controls
                = f.check_box :has_raised_ground_floor

            - if (@real_estate.apartment? || @real_estate.house?) && @real_estate.for_sale?
              .control-group
                = f.label :is_under_building_laws
                .controls
                  = f.check_box :is_under_building_laws

            - if @real_estate.property?
              .control-group
                = f.label :is_developed
                .controls
                  = f.check_box :is_developed


  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = render 'cms/real_estates/actions'

