= render 'wizard_header'

= render_navigation :context => :real_estate

- if @information.nil?
  Für diese Immobilie wurden keine #{t "navigation.cms.real_estates_navigation.information"} hinterlegt.
- else
  %dl.dl-horizontal
    %dt= t "mongoid.attributes.information.available_from"
    %dd
      = @information.available_from
      &nbsp;

    %dt= t "mongoid.attributes.information.display_estimated_available_from"
    %dd
      = @information.display_estimated_available_from
      &nbsp;

  .row
    .span4
      %dl.dl-horizontal
        %dt= t "mongoid.attributes.information.is_new_building"
        %dd= t "#{@information.is_new_building?}"

        %dt= t "mongoid.attributes.information.is_old_building"
        %dd= t "#{@information.is_old_building?}"

    .span4
      %dl.dl-horizontal
        %dt= t "mongoid.attributes.information.is_minergie_style"
        %dd= t "#{@information.is_minergie_style?}"

        %dt= t "mongoid.attributes.information.is_minergie_certified"
        %dd= t "#{@information.is_minergie_certified?}"

    .span4
      - if @real_estate.property?
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.is_developed"
          %dd= t "#{@information.is_developed?}"

      - if @real_estate.apartment? || @real_estate.house?
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.is_under_building_laws"
          %dd= t "#{@information.is_under_building_laws?}"

      %dl.dl-horizontal
        %dt= t "mongoid.attributes.information.has_cable_tv"
        %dd= t "#{@information.has_cable_tv?}"

  - if @real_estate.living?
    .row
      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.has_outlook"
          %dd= t "#{@information.has_outlook?}"

          %dt= t "mongoid.attributes.information.has_fireplace"
          %dd= t "#{@information.has_fireplace?}"

          %dt= t "mongoid.attributes.information.has_elevator"
          %dd= t "#{@information.has_elevator?}"

          %dt= t "mongoid.attributes.information.has_isdn"
          %dd= t "#{@information.has_isdn?}"

      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.is_wheelchair_accessible"
          %dd= t "#{@information.is_wheelchair_accessible?}"

          %dt= t "mongoid.attributes.information.is_child_friendly"
          %dd= t "#{@information.is_child_friendly?}"

          %dt= t "mongoid.attributes.information.has_balcony"
          %dd= t "#{@information.has_balcony?}"

          %dt= t "mongoid.attributes.information.has_raised_ground_floor"
          %dd= t "#{@information.has_raised_ground_floor?}"

      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.has_swimming_pool"
          %dd= t "#{@information.has_swimming_pool?}"

  - if @real_estate.working? || @real_estate.storing?
    .row
      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.maximal_floor_loading"
          %dd
            = @information.maximal_floor_loading
            &nbsp;

          %dt= t "mongoid.attributes.information.freight_elevator"
          - if @information.has_freight_elevator?
            %dd= t "true"
          - else
            %dd= t "false"

          %dt= t "mongoid.attributes.information.freight_elevator_carrying_capacity"
          %dd
            = @information.freight_elevator_carrying_capacity
            &nbsp;

          %dt= t "mongoid.attributes.information.number_of_restrooms"
          %dd
            = @information.number_of_restrooms
            &nbsp;

      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.has_lifting_platform"
          %dd= t "#{@information.has_lifting_platform?}"

          %dt= t "mongoid.attributes.information.has_ramp"
          %dd= t "#{@information.has_ramp?}"

          %dt= t "mongoid.attributes.information.has_railway_terminal"
          %dd= t "#{@information.has_railway_terminal?}"

      .span4
        %dl.dl-horizontal
          %dt= t "mongoid.attributes.information.has_water_supply"
          %dd= t "#{@information.has_water_supply?}"

          %dt= t "mongoid.attributes.information.has_sewage_supply"
          %dd= t "#{@information.has_sewage_supply?}"
