= render 'wizard_header'

= render_navigation :context => :real_estate

- if @information.nil?
  Für diese Immobilie wurden keine weiteren Informationen hinterlegt.
- else
  %legend= t ".location"
  .row
    .span12
      .floated-controls-box
        - @information.points_of_interest.each do |poi|
          %dl.dl-horizontal
            %dt= t ".points_of_interest.types.#{poi.name}"
            %dd= poi.distance


  - unless @real_estate.parking?
    %legend= t ".building_information"
    .row
      .span12
        .floated-controls-box
          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.built_on"
            %dd= @information.built_on

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.renovated_on"
            %dd= @information.renovated_on

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.floors"
            %dd= @information.floors

          - if @real_estate.living?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_swimming_pool"
              %dd= t "#{@information.has_swimming_pool?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_child_friendly"
              %dd= t "#{@information.is_child_friendly?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_wheelchair_accessible"
              %dd= t "#{@information.is_wheelchair_accessible?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_minergie_style"
              %dd= t "#{@information.is_minergie_style?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_minergie_certified"
              %dd= t "#{@information.is_minergie_certified?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_elevator"
              %dd= t "#{@information.has_elevator?}"

          - if @real_estate.property?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_developed"
              %dd= t "#{@information.is_developed?}"

          - unless @real_estate.living?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_ramp"
              %dd= t "#{@information.has_ramp?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_lifting_platform"
              %dd= t "#{@information.has_lifting_platform?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_railway_terminal"
              %dd= t "#{@information.has_railway_terminal?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.freight_elevator"
              - if @information.has_freight_elevator?
                %dd= t "true"
              - else
                %dd= t "false"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.freight_elevator_carrying_capacity"
              %dd= @information.freight_elevator_carrying_capacity


    %legend= t ".building_up"
    .row
      .span12
        .floated-controls-box
          - if @real_estate.storing?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_sewage_supply"
              %dd= t "#{@information.has_sewage_supply?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_water_supply"
              %dd= t "#{@information.has_water_supply?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_balcony"
              %dd= t "#{@information.has_balcony?}"
            
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_garden_seating"
              %dd= t "#{@information.has_garden_seating?}"

          - if @real_estate.living?
            %dl.dl-horizontal 
              %dt= t "mongoid.attributes.information.has_fireplace"
              %dd= t "#{@information.has_fireplace?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_isdn"
              %dd= t "#{@information.has_isdn?}"

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.has_cable_tv"
              %dd= t "#{@information.has_cable_tv?}"

          - unless @real_estate.living?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.maximal_floor_loading"
              %dd= @information.maximal_floor_loading
            
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.number_of_restrooms"
              %dd= @information.number_of_restrooms

            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.ceiling_height"
              %dd= @information.ceiling_height

        - if @information.additional_information.present?
          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.additional_information"
            %dd= @information.additional_information.html_safe


    %legend= t ".relevant_for_external_portals"
    .row
      .span12
        .floated-controls-box
          - if @real_estate.living?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_old_building"
              %dd= t "#{@information.is_old_building?}"

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.is_new_building"
            %dd= t "#{@information.is_new_building?}"

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.has_outlook"
            %dd= t "#{@information.has_outlook?}"

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.has_raised_ground_floor"
            %dd= t "#{@information.has_raised_ground_floor?}"

          - if (@real_estate.apartment? || @real_estate.house?) && @real_estate.for_sale?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_under_building_laws"
              %dd= t "#{@information.is_under_building_laws?}"
