= render 'wizard_header'

= render_navigation :context => :real_estate

- if @information.nil?
  Für diese Immobilie wurden keine weiteren Informationen hinterlegt.
- else

  %legend= t ".location"
  .row
    .span12
      .floated-controls-box
        - @information.points_of_interest.each do |poi|
          %dl.dl-horizontal
            %dt= t ".points_of_interest.types.#{poi.name}"
            %dd= poi.distance

  - if accessible?(:location_html)
    %dl.dl-horizontal
      %dt= t "mongoid.attributes.information.location_html"
      %dd
        = @information.location_html.try(:html_safe)
        &nbsp;


  - unless @real_estate.parking?
    %legend= t ".building_information"
    .row
      .span12
        .floated-controls-box
          - floated_field_show(@information, :built_on)
          - floated_field_show(@information, :renovated_on)
          - floated_field_show(@information, :floors)
          - floated_field_show(@information, :has_swimming_pool,        :translate_value => true)
          - floated_field_show(@information, :is_child_friendly,        :translate_value => true)
          - floated_field_show(@information, :is_wheelchair_accessible, :translate_value => true)
          - floated_field_show(@information, :is_minergie_style,        :translate_value => true)
          - floated_field_show(@information, :has_elevator,             :translate_value => true)

          - floated_field_show(@information, :has_ramp)
          - floated_field_show(@information, :has_lifting_platform,     :translate_value => true)
          - floated_field_show(@information, :has_railway_terminal,     :translate_value => true)
          - floated_field_show(@information, :has_freight_elevator,     :translate_value => true)
          - floated_field_show(@information, :freight_elevator_carrying_capacity)

    - if accessible?(:infrastructure_html)
      %dl.dl-horizontal
        %dt= t "mongoid.attributes.information.infrastructure_html"
        %dd
          = @information.infrastructure_html.try(:html_safe)
          &nbsp;

    %legend= t ".building_up"
    .row
      .span12
        .floated-controls-box
          - floated_field_show(@information, :has_sewage_supply,     :translate_value => true)
          - floated_field_show(@information, :has_water_supply,     :translate_value => true)
          - floated_field_show(@information, :has_balcony,     :translate_value => true)
          - floated_field_show(@information, :has_garden_seating,     :translate_value => true)
          - floated_field_show(@information, :has_fireplace,     :translate_value => true)
          - floated_field_show(@information, :has_isdn,     :translate_value => true)
          - floated_field_show(@information, :has_cable_tv,     :translate_value => true)
          - floated_field_show(@information, :has_outlook,     :translate_value => true)
          - floated_field_show(@information, :maximal_floor_loading)
          - floated_field_show(@information, :number_of_restrooms)
          - floated_field_show(@information, :ceiling_height)

    - if accessible?(:interior_html)
      %dl.dl-horizontal
        %dt= t "mongoid.attributes.information.interior_html"
        %dd
          = @information.interior_html.try(:html_safe)
          &nbsp;

    %legend= t ".relevant_for_external_portals"
    .row
      .span12
        .floated-controls-box
          - if @real_estate.living?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_old_building"
              %dd= t "#{@information.is_old_building?}"

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.is_new_building"
            %dd= t "#{@information.is_new_building?}"

          %dl.dl-horizontal
            %dt= t "mongoid.attributes.information.has_raised_ground_floor"
            %dd= t "#{@information.has_raised_ground_floor?}"

          - if (@real_estate.apartment? || @real_estate.house?) && @real_estate.for_sale?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_under_building_laws"
              %dd= t "#{@information.is_under_building_laws?}"

          - if @real_estate.property?
            %dl.dl-horizontal
              %dt= t "mongoid.attributes.information.is_developed"
              %dd= t "#{@information.is_developed?}"
