= form_for @brick, :url => url do |f|
  = render 'cms/shared/errors', :model => @brick

  %fieldset
    .control-group
      = f.label :placeholder
      .controls
        = f.select :placeholder, Brick::Placeholder::TYPES.map { |c| [t(".#{c}"), c] }

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
