= form_for @brick, :url => url do |f|
  = render 'cms/shared/errors', :model => @brick

  %fieldset
    .control-group
      = f.label :text
      .controls
        = f.text_area :text, :class => 'editor'
    .control-group
      = f.label :more_text
      .controls
        = f.text_area :more_text, :class => 'editor'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
