= form_for [:cms, @page] do |f|
  = render 'cms/real_estates/errors', :model => @page

  %fieldset
    .control-group
      = f.label :title
      .controls
        = f.text_field :title, :class => 'span8'
    - unless @page.persisted?
      .control-group
        = f.label :name
        .controls
          = f.text_field :name, :class => 'span8'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    - if @page.persisted?
      .pull-right
        .btn-group
          = link_to 'Baustein hinzufügen', '#', :class => 'btn'
          = link_to '#', :class => 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Titel Baustein', '#'

