- content_for :title do
  Erfasste Seiten

%ul.nav-tabs.nav.language-tabs
  - I18n.available_locales.each do |locale|
    %li{ class: (content_locale.to_s == locale.to_s ? 'active' : nil) }
      = link_to t("languages.#{locale}"), cms_pages_path(content_locale: locale)

.row
  .pull-right.padded
    = link_to(new_cms_page_path(content_locale: content_locale), class: 'btn') do
      %i.icon-plus-sign
      = t('.new')

.row
  .span12.pages-list
    .dd
      = render partial: 'branch', locals: { pages: @pages }
