%h4= t('.title')

.footer-news
  - if @footer_news_items.empty?
    %br
  - @footer_news_items.each do |news_item|
    %div{:id=>"footer-news-item-#{news_item.id}"}
      %h6= l news_item.date
      %h5= news_item.title
      = link_to t(".get_more"), news_items_path(:anchor =>"news_item_#{news_item.id}")

.footer-teasers
  %div
    %h5= t ".what_we_do"
    %dl
      %dt= t ".what_we_do_content"
      %dd= link_to t(".get_more"), t('company_url')

  %div
    %h5= t ".we_want_you"
    %dl
      %dd=t ".discover_alfred_mueller"
      %dd= link_to t(".take_me_to_the_jobs"), t('jobs_url')

  %div
    %h5 St. Martin
    %dl
      %dt=t ".cameroon_drinking_water"
      %dd=link_to t(".get_more"), t('company_url')
      %dd=link_to t(".take_me_to_st_martin_website"), 'http://www.martinstiftung.ch/', :target => '_target'

  %div
    %h5 Allmig
    %dl
      %dt=t ".compost_and_nuclear_plant_in_region_zug"
      %dd=link_to t(".get_more"), t('company_url')
      %dd=link_to t(".take_me_to_allmig_website"), 'http://www.allmig.ch/', :target => '_target'

.footer-contact
  %div
    %h5= t('.contact.title')
    %dl
      %dd= t('.contact.address_html')
      %dd= t('.contact.phone_html')
      %dd= link_to t('.contact.directions'), contact_path

  .memberships
    %h5= t '.memberships'
    %dl
      - if I18n.locale == :de
        %dt Verband Schweizerischer Generalunternehmer VSGU
        %dd= link_to  "www.vsgu.ch", "http://www.vsgu.ch", :target=>"_blank"
        %dt Schweizerischer Verband der Immobilienwirtschaft SVIT
        %dd= link_to "www.svit.ch", "http://www.svit.ch", :target=>"_blank"
        %dt Schweizerischer Ingenieur- und Architektenverein SIA
        %dd= link_to "www.sia.ch", "http://www.sia.ch", :target=>"_blank"
        %dt Bundesamt für Bauten und Logistik
        %dd= link_to "www.bbl.admin.ch", "http://www.bbl.admin.ch", :target=>"_blank"
        %dt Hauseigentümerverband HEV
        %dd= link_to "www.hev-schweiz.ch", "http://www.hev-schweiz.ch", :target=>"_blank"
      - else
        %dd= link_to  "www.vsgu.ch", "http://www.vsgu.ch", :target=>"_blank"
        %dd= link_to "www.svit.ch", "http://www.svit.ch", :target=>"_blank"
        %dd= link_to "www.sia.ch", "http://www.sia.ch", :target=>"_blank"
        %dd= link_to "www.bbl.admin.ch", "http://www.bbl.admin.ch", :target=>"_blank"
        %dd= link_to "www.hev-schweiz.ch", "http://www.hev-schweiz.ch", :target=>"_blank"

