%h4= t('.title')
.footer-news
  - @footer_news_items.each do |news_item|
    %div{:id=>"footer-news-item-#{news_item.id}"}
      %h5= l news_item.date
      %p
        = news_item.title
        %br
        = link_to "Mehr erfahren", news_items_path(:anchor =>"news_item_#{news_item.id}")

.footer-teasers
  %h5 Wir suchen Sie
  %br
  %h5 St. Martin
  %p
    Mit unserem Trinkwasserprojekt «Wasser ist Leben» in Kamerun ermöglichen wir den Menschen in den ländlichen Gegenden
    im Süden des Landes Zugang zu sauberem Trinkwasser. Dank der Stiftung St. Martin, den Eigenleistungen der einheimischen
    Bevölkerung und zahlreichen Spendern konnten bis heute über 1300 Brunnen erstellt werden.
  %h5 Allmig
  %p
    Die Kompostier- und Biostromanlage «Allmig» ist ein in der Region Zug verankerter Betrieb.  Hier werden pro Jahr
    25000 Tonnen Grüngut aus den umliegenden Gemeinden verwertet und zu qualitativ ausgezeichneten Erdsubstraten und
    Kompost für Privat und Landwirtschaft verarbeitet. Zusätzlich können jährlich zirka 3,5 Millionen Kilowattstunden
    Biostrom gewonnen werden.

.footer-contact
  %h5= t('.contact.title')
  %p
    = t('.contact.address_html')
  %p
    = t('.contact.phone_html')
  = link_to t('.contact.directions'), '#'