%h4= t('.title')
.footer-news
  %br
.footer-teasers
  %br
.footer-contact
  %h5= t('.contact.title')
  %p
    = t('.contact.address_html')
  %p
    = t('.contact.phone_html')
  = link_to t('.contact.directions'), '#'