%h4= t('.title')

.footer-news
  - if @footer_news_items.empty?
    %br
  - @footer_news_items.each do |news_item|
    %div{:id=>"footer-news-item-#{news_item.id}"}
      %h6= l news_item.date
      %h5= news_item.title
      = link_to t(".get_more"), news_items_path(:anchor =>"news_item_#{news_item.id}")

.footer-teasers
  %div
    %h5= t ".we_want_you"
    %dl
      %dd=t ".discover_alfred_mueller"
      %dd= link_to t(".take_me_to_the_jobs"), t('jobs_url')

  %div
    %h5= t ".from_a_hand"
    %dl
      %dt= t ".from_a_hand_content"
      %dd= link_to t(".get_more"), t('company_url')

  %div
    %h5 St. Martin
    %dl
      %dt In Kamerun ermöglichen wir den Menschen Zugang zu sauberem Trinkwasser.
      %dd=link_to t(".get_more"), t('company_url')

  %div
    %h5 Allmig
    %dl
      %dt Die Kompostier- und Biostromanlage in der Region Zug
      %dd=link_to t(".get_more"), t('company_url')

.footer-contact
  %div
    %h5= t('.contact.title')
    %dl
      %dd= t('.contact.address_html')
      %dd= t('.contact.phone_html')
      %dd= link_to t('.contact.directions'), '#'

  .memberships
    %h5= t '.memberships'
    %dl
      %dt Verband Schweizerischer Generalunternehmer VSGU
      %dd= link_to  "www.vsgu.ch", "http://www.vsgu.ch"
      %dt Schweizerischer Verband der Immobilienwirtschaft SVIT
      %dd= link_to "www.svit.ch", "http://www.svit.ch"
      %dt Schweizerischer Ingenieur- und Architektenverein SIA
      %dd= link_to "www.sia.ch", "http://www.sia.ch"
      %dt Bundesamt für Bauten und Logistik
      %dd= link_to "www.bbl.admin.ch", "http://www.bbl.admin.ch"
      %dt Hauseigentümerverband HEV
      %dd= link_to "www.hev-schweiz.ch", "http://www.hev-schweiz.ch"